<app-data-edit #edit>
    <app-navbar [Title]="edit.Title"></app-navbar>

    <app-card [title]="edit.Title">
        <app-data-form>
            <app-cols>
                <!-- Right -->
                <app-col>

                    <app-input label="نام {{ edit.PAGE_TITLE }}" [(ngModel)]="edit.PAGE_Data.name" name="name">
                    </app-input>

                    <app-input type="number" label="کد {{ edit.PAGE_TITLE }}" [(ngModel)]="edit.PAGE_Data.code"
                        name="code">
                    </app-input>

                    <app-input type="number" [required]="false" label="کد سازمان آموزش و پرورش"
                        [(ngModel)]="edit.PAGE_Data.orgCode" name="orgCode">
                    </app-input>

                    <app-input type="number" [required]="false" label="کد داخلی سازمان"
                        [(ngModel)]="edit.PAGE_Data.internalCode" name="internalCode">
                    </app-input>

                </app-col>


                <!-- Left -->
                <app-col>
                    <app-select label="انتخاب آموزشگاه" name="tituteSelect" [(ngModel)]="edit.PAGE_Data.tituteId">
                        <app-select-option *ngFor="let titute of titutes" [title]="titute.name" [value]="titute.id">
                        </app-select-option>
                    </app-select>

                    <app-select label="انتخاب سال تحصیلی" name="yeareducationSelect"
                        [(ngModel)]="edit.PAGE_Data.yeareducationId">
                        <app-select-option *ngFor="let yeareducation of yeareducations" [title]="yeareducation.name"
                            [value]="yeareducation.id">
                        </app-select-option>
                    </app-select>


                    <app-input type="number" label="ظرفیت پذیرش" [(ngModel)]="edit.PAGE_Data.capasity" name="capasity">
                    </app-input>


                    <app-input type="number" [required]="false" label="ترتیب" [(ngModel)]="edit.PAGE_Data.order"
                        name="order">
                    </app-input>

                    <app-textarea label="توضیحات" [required]="false" [(ngModel)]="edit.PAGE_Data.desc" name="desc">
                    </app-textarea>
                </app-col>
            </app-cols>


            <app-button-group>
                <app-button *button text="لغو" [isEdit]="edit.isEdit" [backToPureMenuUrl]="true"></app-button>

                <app-button *button [text]="edit.btnTitle" [loading]="edit.isLoading" (onClick)="edit.sts()"
                    color="primary" [fullWidth]="true" [disabled]="!edit.isAllFormValid()">
                </app-button>

            </app-button-group>

        </app-data-form>
    </app-card>
</app-data-edit>