.menu {
    position: fixed; 
    bottom: 0; 
    width: 100%;
}

.menu-item {
    width: 100%; 
    height: 100%;
    text-align: center;
    color: gray;
    cursor: pointer;
    opacity: 0.6;

    span {
        display: flex;
        flex-direction: column;
    }

    span.title {
        font-size: 15px;
    }
}

.menu-item.active {
    color: inherit;
    opacity: 1;
}

.menu-icon {
    display: flex;
    margin: auto;
    margin-top: 8px;
    width: 24px !important;
}

small.dot {
    height: 9px;
    width: 9px;
    background-color: #b8b717;
    border-radius: 50%;
    position: absolute;
    margin-top: 7px;
    left: 0;
    margin-left: 5px;
}