table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
  
table, th, td {
    border: 1px solid black;
}

[mat-mini-fab] {
    width: 25px !important;
    height: 25px !important;

    .mat-icon {
        font-size: 15px !important;
    }
}

.mat-button-wrapper {
    padding: 0 !important;
}