<div dir="rtl">
    <h1 mat-dialog-title> انتخاب فیلد برای نمایش در اکسل </h1>
    <div mat-dialog-content>
        <br>
        <div class="row">
            <div *ngFor="let i of attrs" class="col-lg-4">
                <mat-checkbox (change)="pushSelectedAttrs($event.checked, i.id)">{{ i.title }}</mat-checkbox>
            </div>
        </div>
        <br>
    </div>
    <div mat-dialog-actions>
        <button mat-stroked-button color="primary" [mat-dialog-close]="selectedAttrs">تایید</button>
        <button mat-stroked-button color="warn" style="margin-right: 5px;" [mat-dialog-close]="">لغو</button>
    </div>
</div>