<div dir="rtl">
    <h1 mat-dialog-title>تغییر مقدار گروهی</h1>
    <div mat-dialog-content>
        <div class="form-group" *ngFor="let i of attrs; let ind = index">

            <app-attribute-input [Attribute]="i" [isAttributeSingle]="true"
                (setItemAttribute)="setAnyItemAttr($event, i.attrTypeInt)"></app-attribute-input>

        </div>

        <hr>


        <div class="form-group">

            <div class="form-group">
                <label>تگ ها</label>
                <mat-form-field class="example-chip-list">
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let i of tags" [selectable]="true" [removable]="true" (removed)="remove(i)">
                            {{i.name}}
                            <mat-icon matChipRemove>delete</mat-icon>
                        </mat-chip>
                        <input placeholder="تگ ها را با Enter جدا کنید" [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                </mat-form-field>

                <button mat-stroked-button color="warn" (click)="setTags()">ثبت تگ ها</button>

            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-stroked-button color="primary" [mat-dialog-close]="">تایید</button>
    </div>
</div>