<app-toolbar [showToolbar]="false" [Title]="'سایر گزینه ها'"></app-toolbar>
<div class="row" style="text-align: center;">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <img class="img-circle"
                    [src]="stdAuth.getStudent().picUrl ? stdAuth.auth.getFileUrl(stdAuth.getStudent().picUrl) : '/assets/img/student.png'">

                <h3 class="margin-top-10">{{ stdAuth.getStudentFullName() }}</h3>
                <p>{{ stdAuth.getStudent().idNumber2 }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <mat-card class="item-card" [class.new]="moreService.getUnreadNotificationCount() != 0">
                    <div [routerLink]="['./notifications']" matRipple>
                        <p class="icon" style="color: darkorange">
                            <mat-icon>notifications</mat-icon>
                        </p>
                        <p class="title">اعلان ها</p>
                    </div>
                </mat-card>
            </div>
            <div class="col-sm-4">
                <mat-card class="item-card" [class.new]="moreService.unReadTicketsCount != 0">
                    <div [routerLink]="['./tickets']" matRipple>
                        <p class="icon" style="color: #00a788">
                            <mat-icon>question_answer</mat-icon>
                        </p>
                        <p class="title">مکاتبات</p>
                    </div>
                </mat-card>
            </div>
            <div class="col-sm-4">
                <mat-card class="item-card">
                    <div [routerLink]="['./change-password']" matRipple>
                        <p class="icon" style="color: #00b1b1">
                            <mat-icon>fingerprint</mat-icon>
                        </p>
                        <p class="title">تغییر کلمه عبور</p>
                    </div>
                </mat-card>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <mat-card class="item-card">
                    <div [routerLink]="['./settings']" matRipple>
                        <p class="icon" style="color: #8bc0cc">
                            <mat-icon>settings</mat-icon>
                        </p>
                        <p class="title">تنظیمات</p>
                    </div>
                </mat-card>
            </div>
            <div class="col-sm-4">
                <mat-card class="item-card">
                    <div (click)="stdAuth.logout()" matRipple>
                        <p class="icon" style="color: #e10000">
                            <mat-icon>power_settings_new</mat-icon>
                        </p>
                        <p class="title">خروج</p>
                    </div>
                </mat-card>
            </div>
            <div class="col-sm-4">
                <mat-card class="item-card">
                    <div (click)="reload()" matRipple>
                        <p class="icon" style="color: #dae501">
                            <mat-icon>refresh</mat-icon>
                        </p>
                        <p class="title">بازنشانی برنامه</p>
                    </div>
                </mat-card>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12" style="margin-top: 30px;">
                <img class="company" src="/assets/img/synapce.png">
                <p>طراحی و توسعه : شرکت نو آوران هوشمند سیناپس</p>
                <p style="font-family: Arial, Helvetica, sans-serif !important;">
                    Version: {{ stdAuth.auth.PARENTMOBILEAPP_VERSION }}
                </p>
            </div>
        </div>

    </div>
</div>