<app-navbar [showRefresh]="true" (refresh)="list.refreshDataSource()"></app-navbar>

<app-data-list #list [conditionalProperty]="'haveStdClassMngs,haveExam'"
    [conditionalTitle]="'آزمون و یا دانش آموز ثبت نام شده'" (editClick)="list.onEdit($event.id)"
    (deleteClick)="list.deleteSelected()">

    <ng-template dataListItem [def]="'id'" [title]="'ردیف'" [show]="false" let-row="Row">
        <p>{{ row.id }}</p>
    </ng-template>

    <ng-template dataListItem [def]="'name'" [title]="'عنوان'" let-row="Row">
        <p>{{ row.name }}</p>
    </ng-template>

    <ng-template dataListItem [def]="'code'" [title]="'کد ' + list.PAGE_TITLE" [show]="false" let-row="Row">
        <p>{{ row.code }}</p>
    </ng-template>

    <ng-template dataListItem [def]="'section'" [title]="'شعبه ' + list.PAGE_TITLE" let-row="Row">
        <p>{{ row.section }}</p>
    </ng-template>

    <ng-template dataListItem [def]="'gradeName'" [title]="'پایه تحصیلی'" let-row="Row">
        <p>{{ row.gradeName }}</p>
    </ng-template>

    <ng-template dataListItem [def]="'capasity'" [title]="'ظرفیت پذیرش'" [show]="false" let-row="Row">
        <p>{{ row.capasity }}</p>
    </ng-template>

</app-data-list>