<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{ Title }}</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form #fm1="ngForm" id="fm11">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>نام فارسی</label>
                                <input type="text" required #name="ngModel" name="name" [(ngModel)]="unit.title"
                                    placeholder="نام فارسی" class="form-control">
                                <div *ngIf="(name.touched || name.dirty)  && name.invalid">
                                    <p *ngIf="name.hasError('required')" class="error">
                                        وارد کردن نام فارسی الزامی است
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 b-r-r">
                            <div class="form-group">
                                <label>نام انگلیسی</label>
                                <input type="text" required #enname="ngModel" name="enname" [(ngModel)]="unit.enTitle"
                                    placeholder="نام انگلیسی" class="form-control">
                                <div *ngIf="(enname.touched || enname.dirty)  && enname.invalid">
                                    <p *ngIf="enname.hasError('required')" class="error">
                                        وارد کردن نام انگلیسی الزامی است
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="col-md-12">
                            <button mat-raised-button color="warn" style="margin: 5px;"
                                routerLink="/dashboard/unit">لغو</button>
                            <button autofocus mat-raised-button color="primary" [disabled]="!fm1.valid"
                                (click)="sts()">{{ btnTitle }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>