<span class="fa sk-spinner sk-spinner-pulse spinner" *ngIf="loadItemAttr"></span>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 style="color: #1ab394">{{ Title }}</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form #fm1="ngForm" id="fm11">
                        <div class="col-sm-6 b-r">

                            <div class="form-group">
                                <label>وضعیت</label>
                                <mat-chip-list>
                                    <mat-chip selected *ngIf="item.isActive" (click)="setIsActive(false)">
                                        <mat-icon>check</mat-icon>
                                        فعال
                                    </mat-chip>
                                    <mat-chip color="warn" selected *ngIf="!item.isActive" (click)="setIsActive(true)">
                                        <mat-icon>block</mat-icon>
                                        غیر فعال
                                    </mat-chip>
                                </mat-chip-list>
                            </div>


                            <div class="form-group">
                                <label>انتخاب {{ pageTitle }}</label>
                                <ng-select #catSelect="ngModel" name="cat" required [disabled]="isEdit"
                                    [(ngModel)]="item.categoryId" (change)="onCategorySelect()">
                                    <ng-option *ngFor="let u of Categories" [value]="u.id">{{u.title}}</ng-option>
                                </ng-select>
                                <div *ngIf="(catSelect.touched || catSelect.dirty)  && catSelect.invalid">
                                    <p *ngIf="catSelect.hasError('required')" class="error">
                                        انتخاب {{ pageTitle }} الزامی است
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>عنوان</label>
                                <input type="text" required #name="ngModel" name="name" [(ngModel)]="item.title"
                                    placeholder="عنوان" class="form-control">
                                <div *ngIf="(name.touched || name.dirty)  && name.invalid">
                                    <p *ngIf="name.hasError('required')" class="error">
                                        وارد کردن عنوان الزامی است
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>تگ ها</label>
                                <mat-form-field class="example-chip-list">
                                    <mat-chip-list #chipList>
                                        <mat-chip *ngFor="let i of tags" [selectable]="true" [removable]="true"
                                            (removed)="remove(i)">
                                            {{i.name}}
                                            <mat-icon matChipRemove>delete</mat-icon>
                                        </mat-chip>
                                        <input placeholder="تگ ها را با Enter جدا کنید" [matChipInputFor]="chipList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="add($event)">
                                    </mat-chip-list>
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <label>انتخاب دسته بندی</label>
                                <ng-select #units="ngModel" name="units" [(ngModel)]="item.unitId" required>
                                    <ng-option *ngFor="let u of tys" [value]="u.id">{{u.title}}
                                    </ng-option>
                                </ng-select>
                                <mat-error *ngIf="units.hasError('required')">
                                    انتخاب دسته بندی الزامی است
                                </mat-error>
                            </div>


                        </div>
                        <div class="col-sm-6">


                            <div class="form-group">
                                <label>راهنما</label>
                                <div *ngIf="attrs.length != 0" [ngClass]="{ 'di': isEdit ? false : true }">
                                    <h4 style="color: crimson" *ngIf="!isEdit"> فیلد ها هنگام ویرایش نمون برگ قابل تختیص
                                        هستند</h4>
                                    <div class="form-group">
                                        <span>برای ثبت هر فیلد کلید Enter را بفشارید.</span>
                                        <br>
                                        <span>برای حذف یک فیلد کافیست تا متن را خالی گذارید و کلید Enter را
                                            بفشارید.</span>
                                        <br />
                                        <span>فیلد هایی مثل تاریخ، چک باکس و لیست با هر تغییر در مقدار به صورت خودکار
                                            ثبت میشوند</span>
                                        <br>
                                        <span>فیلد هایی مثل فایل و تصویر با هر انتخاب به صورت خودکار بارگذاری می
                                            شوند</span>
                                        <br>
                                        <span style="color: orange;">برای حذف تصویر و فایل، از دکمه تعبیه شده استفاده
                                            نمایید</span>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <br>
                        <br>
                        <div class="col-md-12">
                            <a mat-raised-button color="warn" style="margin: 5px;" queryParamsHandling="preserve"
                                (click)="location.back()">لغو</a>
                            <button type="submit" mat-raised-button color="primary"
                                [disabled]="!fm1.valid || !isCatSelected() || !isUnitSelected()"
                                (click)="sts()">{{ btnTitle }}</button>
                        </div>
                    </form>
                </div>
                <div class="row" style="padding: 10px;" [ngClass]="{ 'di' : loadItemAttr }">
                    <!-- <mat-spinner *ngIf="loadAttrs"></mat-spinner> -->
                    <h4 *ngIf="attrs.length == 0 && isCatSelected()">برای این نمون برگ، فیلدی ثبت نشده است</h4>

                </div>
            </div>
        </div>
    </div>
    <div *ngFor="let unit of tys">

        <div class="col-lg-4 ui-sortable" *ngIf="getAttrsForUnit(unit.id).length != 0">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 style="color: #1ab394"> {{ unit.title }} </h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group attrSection" *ngFor="let i of getAttrsForUnit(unit.id); let ind = index">

                        <label *ngIf="i.attrTypeInt != 4 && i.attrTypeInt != 11">{{i.title}}</label>

                        <input *ngIf="i.attrTypeInt == 1" type="text" [tabIndex]="ind + 5" class="form-control"
                            [value]="getItemAttrVal(i.id)" [placeholder]="i.placeholder ? i.placeholder : i.title"
                            [matTooltip]="i.desc" (keydown.enter)="setItemAttr($event, i.id)" />

                        <input *ngIf="i.attrTypeInt == 2" type="number" inputmode="numeric" pattern="[0-9]*"
                            [tabIndex]="ind + 5" class="form-control" [value]="getItemAttrVal(i.id)"
                            [placeholder]="i.placeholder ? i.placeholder : i.title" [matTooltip]="i.desc"
                            (keydown.enter)="setItemAttr($event, i.id)" />

                        <mat-form-field class="example-full-width" *ngIf="i.attrTypeInt == 3">
                            <input required matInput [matTooltip]="i.desc" readonly (click)="openc(picker)"
                                (dateChange)="setItemAttr($event, i.id)" [matDatepicker]="picker"
                                [value]="getItemAttrVal(i.id)" [placeholder]="i.placeholder ? i.placeholder : i.title">
                            <mat-datepicker-toggle style="font-size: 25px;" matTooltip="باز کردن تقویم" matSuffix
                                [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker touchUi="true"></mat-datepicker>
                        </mat-form-field>

                        <mat-checkbox *ngIf="i.attrTypeInt == 4" [matTooltip]="i.desc" [checked]="getItemAttrVal(i.id)"
                            (change)="setItemAttr($event, i.id)">{{i.title}}</mat-checkbox>

                        <input *ngIf="i.attrTypeInt == 5" [tabIndex]="ind + 5" class="form-control" type="password"
                            [value]="getItemAttrVal(i.id)" [placeholder]="i.placeholder ? i.placeholder : i.title"
                            [matTooltip]="i.desc" (keydown.enter)="setItemAttr($event, i.id)" />

                        <mat-form-field *ngIf="i.attrTypeInt == 6">
                            <mat-label>{{i.title}}</mat-label>
                            <mat-select style="direction: ltr" (valueChange)="setItemAttrforselect($event, i.id)"
                                [value]="getItemAttrVal(i.id)">
                                <mat-option [style.color]="v.isTrue ? 'green' : 'unset'"
                                    *ngFor="let v of getShiftedItem(i)" [value]="v.id.toString()">{{v.title}}
                                </mat-option>
                            </mat-select>
                            <mat-hint>{{i.desc}}</mat-hint>
                        </mat-form-field>

                        <!-- <button mat-mini-fab *ngIf="i.attrTypeInt == 6 && getItemAttrVal(i.id).length > 50"
                            (click)="showDialogforLongSelect(getItemAttrVal(i.id))">
                            <mat-icon>remove_red_eye</mat-icon>
                        </button> -->


                        <mat-radio-group *ngIf="i.attrTypeInt == 10" class="radio-group"
                            (change)="setItemAttrforselect($event.value, i.id)" [value]="getItemAttrVal(i.id)">
                            <mat-radio-button class="radio-button" *ngFor="let v of getShiftedItem(i)"
                                [value]="v.id.toString()" [style.color]="v.isTrue ? 'green' : 'unset'">
                                {{v.title}}
                            </mat-radio-button>
                        </mat-radio-group>


                        <input type="file" *ngIf="i.attrTypeInt == 7" accept="image/x-png,image/jpeg"
                            value="fileSelected" class="form-control"
                            (change)="setItemAttrforPic($event, i.id, 'pic')" />
                        <img [src]="getItemAttrUrl(i.id)" (click)="showPopupImage(getItemAttrUrl(i.id))"
                            style="width: 100px; height: 100px;" class="img-circle"
                            *ngIf="i.attrTypeInt == 7 && getItemAttrUrl(i.id)">
                        <button mat-fab *ngIf="i.attrTypeInt == 7 && getItemAttrUrl(i.id)" style="margin-right: 10px;"
                            matTooltip="حذف تصویر" [swal]="deleteSwal">
                            <mat-icon>remove</mat-icon>
                        </button>
                        <swal #deleteSwal [confirmButtonText]="'بله'" [cancelButtonText]="'خیر'"
                            title="آیا اطمینان دارید؟" text="حذف کردن این موارد قابل بازگشت نمی باشد" type="question"
                            [showCancelButton]="true" [focusCancel]="true" (confirm)="setAttrForNullPic(i.id)">
                        </swal>


                        <input type="file" *ngIf="i.attrTypeInt == 8" class="form-control"
                            (change)="setItemAttrforPic($event, i.id, 'file')" />
                        <a *ngIf="i.attrTypeInt == 8 && getItemAttrUrl(i.id)" style="margin-top: 5px;"
                            [href]="getItemAttrUrl(i.id)" mat-raised-button>دانلود فایل</a>
                        <button mat-raised-button style="margin-right: 10px; margin-top: 5px;"
                            *ngIf="i.attrTypeInt == 8 && getItemAttrUrl(i.id)" [swal]="deleteSwal" color="warn">حذف
                            فایل</button>

                        <textarea *ngIf="i.attrTypeInt == 9" [tabIndex]="ind + 5" class="form-control"
                            [placeholder]="i.placeholder ? i.placeholder : i.title" [matTooltip]="i.desc"
                            (keydown.control.enter)="setItemAttr($event, i.id)">{{getItemAttrVal(i.id)}}</textarea>


                        <ng-container *ngIf="i.attrTypeInt == 11">
                            <div class="form-group">

                                <div [innerHTML]="i.title | safeHtml"></div>

                                <hr>
                                <ng-container *ngIf="i.questionType == 1">
                                    <label>جواب شما:</label>
                                    <ckeditor [ngModel]="getItemAttrVal(i.id)"
                                        (dataChange)="setItemAttrforselect($event, i.id);">
                                    </ckeditor>
                                </ng-container>

                                <ng-container *ngIf="i.questionType == 2">
                                    <mat-radio-group class="radio-group"
                                        (change)="setItemAttrforselect($event.value, i.id)"
                                        [value]="getItemAttrVal(i.id)">
                                        <mat-radio-button class="radio-button" *ngFor="let v of getShiftedItem(i)"
                                            [style.color]="v.isTrue ? 'green' : 'unset'" [value]="v.id.toString()">
                                            <div [innerHTML]="v.title | safeHtml"></div>
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </ng-container>

                                <ng-container *ngIf="i.questionType == 3">
                                    <mat-hint>محتوای زیر را تکمیل کنید</mat-hint>
                                    <ckeditor [ngModel]="i.complatabelContent"
                                        (dataChange)="setItemAttrforselect($event, i.id)">
                                    </ckeditor>
                                </ng-container>

                            </div>
                        </ng-container>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>