<app-toolbar [Title]="'تغییر کلمه عبور'" [showBackButton]="true"></app-toolbar>

<form #fm1="ngForm">

    <div class="form-group">
        <label>کلمه عبور فعلی</label>
        <input type="password" #nowPass="ngModel" required name="nowPass" [(ngModel)]="nowPassword" class="form-control"
            placeholder="کلمه عبور فعلی">

        <mat-error *ngIf="nowPass.hasError('required') && nowPass.touched">
            وارد کردن کلمه عبور فعلی الزامی است
        </mat-error>
    </div>

    <div class="form-group">
        <label>کلمه عبور جدید</label>
        <input type="password" minlength="8" maxlength="16" #newPass="ngModel" required name="newPass"
            [(ngModel)]="newPassword" class="form-control" placeholder="کلمه عبور جدید">

        <mat-error *ngIf="newPass.hasError('required') && newPass.touched">
            وارد کردن کلمه عبور جدید الزامی است
        </mat-error>
        <mat-error *ngIf="(newPass.hasError('minlength') || newPass.hasError('maxlength')) && newPass.touched">
            کلمه عبور باید بین 8 تا 16 حرف باشد
        </mat-error>
    </div>

    <div class="form-group">
        <label>تکرار کلمه عبور جدید</label>
        <input type="password" minlength="8" maxlength="16" #reNewPass="ngModel" required name="reNewPass"
            [(ngModel)]="reNewPassword" class="form-control" placeholder="تکرار کلمه عبور جدید">

        <mat-error *ngIf="reNewPass.hasError('required') && reNewPass.touched">
            وارد کردن تکرار کلمه عبور جدید الزامی است
        </mat-error>
        <mat-error *ngIf="(reNewPass.hasError('minlength') || reNewPass.hasError('maxlength')) && reNewPass.touched">
            کلمه عبور باید بین 8 تا 16 حرف باشد
        </mat-error>
        <mat-error *ngIf="!isReNewPassTrue() && reNewPass.touched">
            تکرار کلمه عبور جدید باید با کلمه عبور جدید برابر باشد
        </mat-error>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-6">
                <button type="button" [disabled]="fm1.invalid || !isReNewPassTrue()" (click)="sts()"
                    class="btn btn-primary btn-block">
                    تغییر کلمه عبور
                </button>
            </div>
            <div class="col-sm-6">
                <button type="button" [routerLink]="['../']" class="btn btn-outline-warning btn-block">
                    بازگشت
                </button>
            </div>
        </div>
    </div>


</form>