.margin-bot {
	margin-bottom: 10px;
}

.mat-option {
	text-align: right !important;
}

.mat-select-search-input {
    padding-right: 50px !important;
}

[dir=rtl] .mat-option .mat-icon {
    margin-left: 0 !important;
}