<app-toolbar [Title]="Title" [showBackButton]="true">
    <app-toolbar-item-left>
        <button mat-icon-button (click)="refreshData(true)">
            <mat-icon>refresh</mat-icon>
        </button>
    </app-toolbar-item-left>
</app-toolbar>

<div class="row margin-top-10">
    <div class="col-sm-12">
        <input name="search" class="form-control block" [(ngModel)]="searchText" placeholder="جستجو"
            (input)="searchChange()">
    </div>
</div>

<mat-card class="margin-top-10" *ngIf="searchedAttrs.length != 0">
    <p>جستجوی پیشرفته</p>

    <div class="form-group" *ngFor="let i of searchedAttrs">

        <input *ngIf="i.attrTypeInt == 1 || i.attrTypeInt == 9" type="text" class="form-control"
            placeholder="{{i.title}}" [matTooltip]="i.desc" (input)="addSearchAttrVal(i.id, $event)"
            [value]="getSearchAttrVal(i.id)" />

        <input *ngIf="i.attrTypeInt == 2" type="number" class="form-control" placeholder="{{i.title}}"
            [matTooltip]="i.desc" (input)="addSearchAttrVal(i.id, $event)" [value]="getSearchAttrVal(i.id)" />

        <mat-form-field class="example-full-width" *ngIf="i.attrTypeInt == 3">
            <input required matInput [matTooltip]="i.desc" [value]="getSearchAttrVal(i.id)" readonly
                (click)="picker.open()" (dateChange)="addSearchAttrVal(i.id, $event)" [matDatepicker]="picker"
                placeholder="{{i.title}}">
            <mat-datepicker-toggle style="font-size: 25px;" matTooltip="باز کردن تقویم" matSuffix [for]="picker">
            </mat-datepicker-toggle>
            <mat-datepicker #picker touchUi="true"></mat-datepicker>
        </mat-form-field>
        <button mat-mini-fab *ngIf="i.attrTypeInt == 3" matTooltip="پاک کردن مقدار {{ i.title }}"
            [disabled]="!getSearchAttrVal(i.id)" (click)="addSearchAttrVal(i.id, '')">
            <mat-icon>remove</mat-icon>
        </button>


        <mat-checkbox *ngIf="i.attrTypeInt == 4" [value]="getSearchAttrVal(i.id)" [matTooltip]="i.desc"
            (change)="addSearchAttrVal(i.id, $event)">{{i.title}}
        </mat-checkbox>
        <button mat-mini-fab *ngIf="i.attrTypeInt == 4" matTooltip="پاک کردن مقدار {{ i.title }}"
            [disabled]="!getSearchAttrVal(i.id)" (click)="addSearchAttrVal(i.id, '')">
            <mat-icon>remove</mat-icon>
        </button>

        <input *ngIf="i.attrTypeInt == 5" [value]="getSearchAttrVal(i.id)" class="form-control" type="password"
            placeholder="{{i.title}}" [matTooltip]="i.desc" (input)="addSearchAttrVal(i.id, $event)" />

        <mat-form-field *ngIf="i.attrTypeInt == 6">
            <mat-label>{{i.title}}</mat-label>
            <mat-select style="direction: ltr" [value]="getSearchAttrVal(i.id)"
                (valueChange)="addSearchAttrValForSelect(i.id, $event)">
                <mat-option *ngFor="let v of getShiftedItem(i)" [value]="v.id">{{v.title}}
                </mat-option>
            </mat-select>
            <mat-hint>{{i.desc}}</mat-hint>
        </mat-form-field>
        <button mat-mini-fab *ngIf="i.attrTypeInt == 6" matTooltip="پاک کردن مقدار {{ i.title }}"
            [disabled]="!getSearchAttrVal(i.id)" (click)="addSearchAttrValForSelect(i.id, '')">
            <mat-icon>remove</mat-icon>
        </button>

    </div>

    <button style="width: 100%" mat-stroked-button [disabled]="searchAttrVals.length == 0"
        (click)="clearSearchAttrVals()">پاک کردن</button>
</mat-card>

<hr>

<div class="card" *ngFor="let i of Items" style="margin-top: 3px;" matRipple>
    <a target="_blank" [routerLink]="['/more/category/view-item/' + i.id + '/' + catId + '/' + i.title]">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-7">
                    {{ i.title }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-5">
                    <small> کد رهگیری : {{ i.rahCode }} </small>
                    <br>
                    <small> تاریخ ثبت : {{ i.dateAddPersian }} </small>
                </div>
            </div>
        </div>
    </a>
</div>


<div class="row margin-top-10" *ngIf="canShowMoreButton()">
    <div class="col-sm-12">
        <button (click)="nextPage()" class="btn btn-block btn-outline-info">نمایش بیشتر</button>
    </div>
</div>