<div style="font-size: 15px;">
    <h1 mat-dialog-title> تغییر کلمه عبور {{ type == 2 ? 'اولیای دانش آموز' : null }} {{ stdName }} </h1>
    <div mat-dialog-content>

        <p style="color: green;">با ثبت مقدار 1 برای کلمه عبور، به کاربر پیشنهاد تغییر کلمه عبور خود را می دهید</p>

        <mat-form-field class="example-full-width">
            <input matInput required #pd="ngModel" maxlength="16" [(ngModel)]="Password" name="pd" type="text"
                placeholder="کلمه عبور جدید">
            <mat-hint [align]="'end'"> {{pd.value?.length}} / 16</mat-hint>
            <mat-error *ngIf="!isPasswordLengthTrue()">
                کلمه عبور نباید از 16 کارکتر بیشتر باشد و یا خالی باشد
            </mat-error>
        </mat-form-field>

    </div>
    <div mat-dialog-actions>
        <button mat-stroked-button (click)="sts()" color="primary" [disabled]="!isPasswordLengthTrue()">
            ثبت کلمه عبور جدید
        </button>
        <button mat-stroked-button color="warn" style="margin-right: 5px;" [mat-dialog-close]="false">لغو</button>
    </div>
</div>