<div dir="rtl" style="min-width:650px;">
    <div mat-dialog-title>
        <p><b>افزودن سوال</b></p>
        <div class="row">
            <div class="col-lg-12">
                <input type="text" class="form-control" (input)="refreshData$.next()" [(ngModel)]="searchText"
                    name="search" placeholder="جستجو">
            </div>
        </div>

        <ng-container *ngIf="isLoading">
            <mat-progress-bar class="margin-top-10" mode="buffer"></mat-progress-bar>
        </ng-container>
    </div>

    <div mat-dialog-content>


        <ng-container *ngIf="!isLoading && questions.length == 0">
            <p style="text-align: center;"><b>موردی یافت نشد</b></p>
        </ng-container>


        <div class="row">
            <div class="col-lg-6 margin-top-10 bordered" *ngFor="let question of questions">

                <div class="row" matRipple (click)="addQuestionForCat(question.id)">
                    <div class="col-lg-12">
                        <h3>{{ question.title }}</h3>
                        <p>{{ question.typeString }}</p>
                    </div>
                </div>

                <mat-accordion *ngIf="question.type == 2 || question.type == 3">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ question.type == 2 ? "گزینه ها" : "متن جایگزین" }}
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <ng-container *ngIf="question.type == 2">
                            <mat-radio-group class="radio-group">
                                <mat-radio-button class="radio-button" *ngFor="let v of question.options"
                                    [style.color]="v.isTrue ? 'green' : 'unset'" [value]="v.id.toString()">
                                    <div [innerHTML]="v.name | safeHtml"></div>
                                </mat-radio-button>
                            </mat-radio-group>
                        </ng-container>

                        <ng-container *ngIf="question.type == 3">
                            <div [innerHTML]="question.complatabelContent | safeHtml">
                            </div>
                        </ng-container>

                    </mat-expansion-panel>
                </mat-accordion>

            </div>
        </div>


        <div class="row margin-top-10" *ngIf="canShowMoreButton()">
            <div class="col-lg-12">
                <button (click)="nextPage()" [disabled]="isLoading" class="btn btn-block btn-outline-info">
                    نمایش بیشتر
                </button>
            </div>
        </div>
    </div>

    <div mat-dialog-actions>
        <button mat-stroked-button color="warn" style="margin-right: 5px;" [mat-dialog-close]="false">لغو</button>
        &nbsp; &nbsp; &nbsp;

        <mat-checkbox name="stayOn" [(ngModel)]="stayOnPage">ماندن در این پاپ آپ</mat-checkbox>
    </div>

</div>