<mat-card>

    <mat-card-content>
        <div class="row">
            <div class="col-lg-6">

                <div class="form-group">
                    <label>انتخاب دانش آموز</label>
                    <ng-select
                        (change)="studentSelected(); clearWorkbook(); selectedStdClassMng = null; selectedWorkBook = null;"
                        #student="ngModel" name="student" [(ngModel)]="selectedStudent" required>
                        <ng-option *ngFor="let i of registredStudent" [value]="i.id">
                            {{i.name + ' ' + i.lastName + ' (' + i.fatherName + ')'}}
                        </ng-option>
                    </ng-select>
                    <mat-error *ngIf="student.hasError('required')">
                        انتخاب دانش آموز الزامی است
                    </mat-error>
                </div>

            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    <label>انتخاب پایه تحصیلی</label>
                    <ng-select [disabled]="!selectedStudent" (change)="gradeSelected(); selectedWorkBook = null;"
                        #grade="ngModel" name="grade" [(ngModel)]="selectedStdClassMng" required>
                        <ng-option *ngFor="let i of registredStdClassMngs" [value]="i.id">
                            {{ i.gradeName + ' (' + i.yeareducationName + ') ' }}
                        </ng-option>
                    </ng-select>
                    <mat-error *ngIf="grade.hasError('required')">
                        انتخاب پایه تحصیلی الزامی است
                    </mat-error>
                </div>

            </div>
        </div>
    </mat-card-content>

    <mat-card-actions></mat-card-actions>
</mat-card>

<mat-card *ngIf="selectedStdClassMng && selectedStudent" style="margin-top: 20px;">

    <mat-card-title> پرونده تحصیلی : {{ comformedStudent.name + ' ' + comformedStudent.lastName }} </mat-card-title>

    <mat-card-content>
        <div class="row" style="margin-top: 30px;">
            <div class="col-lg-3">
                <img *ngIf="comformedStudent.picUrl" class="avatar" style="max-width: 100%; border-radius: 15px;"
                    [src]="auth.getFileUrl(comformedStudent.picUrl)" [alt]="comformedStudent.fullName">
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-4">
                        <p>نام و نام خانوادگی :
                            <strong>{{ comformedStudent.name + ' ' + comformedStudent.lastName }}</strong> </p>
                    </div>
                    <div class="col-lg-4">
                        <p>نام پدر : <strong>{{ comformedStudent.fatherName }}</strong></p>
                    </div>
                    <div class="col-lg-4">
                        <p>کد ملی : <strong>{{ comformedStudent.idNumber }}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <p>تاریخ تولد : <strong>{{ comformedStudent.birthDateString }}</strong></p>
                    </div>
                    <div class="col-lg-4">
                        <p>محل تولد : <strong>{{ comformedStudent.birthLocation }}</strong></p>
                    </div>
                    <div class="col-lg-4">
                        <p>کد دانش آموز : <strong>{{ comformedStudent.code }}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<br>
<br>

<div *ngIf="selectedStdClassMng && selectedStudent">
    <mat-accordion>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    کارنامه های دانش آموز
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>انتخاب کارنامه</label>
                        <ng-select (change)="clearWorkbook(); onWorkbookSelect();" #workbook="ngModel"
                            name="workbook" [(ngModel)]="selectedWorkBook" required>
                            <ng-option *ngFor="let i of workbooks" [value]="i.id">{{ i.name }}</ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="selectedWorkBook">

                <div class="row">
                    <div class="col-lg-12 table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>معدل کل</th>
                                    <th>رتبه در کلاس</th>
                                    <th>رتبه در پایه</th>
                                    <th>معدل برتر در پایه</th>
                                    <th>میانگین معدل در پایه</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td [style.color]="totalAvg >= avgOfTotalAvrageGrade ? 'green' : 'red'">
                                        {{ totalAvg.toFixed(2) }}
                                    </td>
                                    <td>{{ ratingOfTotalAvgClass }}</td>
                                    <td>{{ ratingOfTotalAvgGrade }}</td>
                                    <td>{{ topTotalAvrageGrade.toFixed(2) }}</td>
                                    <td>{{ avgOfTotalAvrageGrade.toFixed(2) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row margin-top-10">
                    <div class="col-lg-12 table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>نام درس</th>
                                    <th>معدل</th>
                                    <th>رتبه در کلاس</th>
                                    <th>رتبه در پایه</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let head of coursesHeaders; let index = index;">
                                    <td>{{ head }}</td>
                                    <td>{{ courseAvgs[index].toFixed(2) }}</td>
                                    <td>{{ ratingsInClass[index] }}</td>
                                    <td>{{ ratingsInGrade[index] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </ng-container>


        </mat-expansion-panel>



        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    لیست نمرات در طول سال تحصیلی
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row">
                <div class="col-lg-12">
                    <ng-container *ngFor="let examType of examTypes">
                        <div class="panel panel-default" *ngIf="isAnyExamByExamType(examType.id)">

                            <div class="panel-heading">
                                <h3 [tooltip]="examType.desc">{{ examType.name }}</h3>
                            </div>
                            <div class="panel-body">

                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>نام آزمون</th>
                                                <th>تاریخ آزمون</th>
                                                <th>ملاک</th>
                                                <th>نمره</th>
                                                <th>رتبه</th>
                                                <th>بیشترین</th>
                                                <th>میانگین</th>
                                                <th>کمترین</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr [style.background-color]="!exam.result ? 'lightgray' : 'unset'"
                                                [tooltip]="!exam.result ? 'اعلام نتایج نشده است' : ''"
                                                *ngFor="let exam of getExamsByExamType(examType.id)">
                                                <td>{{ exam.name }}</td>
                                                <td>{{ exam.dateString }}</td>
                                                <td>{{ exam.topScore }}</td>
                                                <td
                                                    [style.background-color]="(exam.result && getExamScoreForExam(exam.id).scoreState == 1 || getExamScoreForExam(exam.id).scoreState == 2) ? '#c5c500' : 'unset'">
                                                    <ng-container *ngIf="exam.result"
                                                        [style.color]="getExamScoreForExam(exam.id).scoreNumber < exam.avgInExam ? 'red' : 'unset'">
                                                        {{ getExamScoreForExam(exam.id).scoreText }}
                                                    </ng-container>
                                                    <ng-container *ngIf="!exam.result">
                                                        <b style="color: darkred;">---</b>
                                                    </ng-container>
                                                </td>
                                                <td><b>{{ getRaitingForScore(exam.id) }}</b></td>
                                                <td>{{ exam.maxInExam }}</td>
                                                <td>{{ exam.avgInExam }}</td>
                                                <td>{{ exam.minInExam }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    دفتر کلاسی هوشمند
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>


            <div class="row">
                <div class="col-lg-12">
                    <ng-container *ngFor="let clsbookType of [0,2,3,4]">
                        <div class="panel panel-default" *ngIf="isAnyClassBookByType(clsbookType)">

                            <div class="panel-heading">
                                <h3>{{ getClassBookTypeString(clsbookType) }}</h3>
                            </div>
                            <div class="panel-body">

                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>تاریخ</th>
                                                <th>درس</th>
                                                <th>دبیر</th>
                                                <th>مقدار</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let classBook of getClassBooksByType(clsbookType)">
                                                <td>{{ classBook.dateString }}</td>
                                                <td>{{ classBook.courseName }}</td>
                                                <td>{{ classBook.teacherName }}</td>
                                                <td
                                                    [style.color]="getClassBookResult(clsbookType, classBook.value).color">
                                                    {{ getClassBookResult(clsbookType, classBook.value).result }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    سیستم امتیازات
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>


            <div class="row">
                <div class="col-lg-12">
                    <ng-container *ngFor="let titleNumber of [0,1,2]">
                        <div class="panel panel-default" *ngIf="isAnyStudentScoreByTitle(titleNumber)">

                            <div class="panel-heading">
                                <h3>{{ getStudentScoreTitleString(titleNumber) }}</h3>
                            </div>
                            <div class="panel-body">

                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>دسته</th>
                                                <th>موضوع</th>
                                                <th>امتیاز دهنده</th>
                                                <th>امتیاز</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let stdScore of getStudentScoreByTitleNumber(titleNumber)">
                                                <td>{{ stdScore.type }}</td>
                                                <td>{{ stdScore.subject }}</td>
                                                <td>{{ stdScore.teacherName }}</td>
                                                <td>{{ stdScore.value }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>

        </mat-expansion-panel>
    </mat-accordion>
</div>