<span class="fa fa-refresh fa-spin spinner" *ngIf="isLoading"></span>
<div class="row animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>لیست {{ PAGE_TITLES }}</h5>
                <div class="ibox-tools">
                    <a (click)="refreshDataSource()" matTooltip="بارگذاری مجدد">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label style="font-size: 16px;">انتخاب دانش آموز</label>
                            <ng-select (change)="refreshDataSource()" #studentselect="ngModel" name="student"
                                [(ngModel)]="selectedStudent">
                                <ng-option *ngFor="let student of students" [value]="student.id">
                                    {{student.name}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">

                        <div class="form-group">
                            <label>انتخاب پایه تحصیلی</label>
                            <ng-select (change)="refreshDataSource()" #gradeselect="ngModel" name="grade"
                                [(ngModel)]="selectedGrade">
                                <ng-option *ngFor="let gr of grades" [value]="gr.id">{{gr.name}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-lg-3">

                        <div class="form-group">
                            <label>انتخاب کلاس</label>
                            <ng-select (change)="refreshDataSource()" #classselect="ngModel" name="class"
                                [(ngModel)]="selectedClass">
                                <ng-option *ngFor="let cls of getFiltredClass()" [value]="cls.id">{{cls.name}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-lg-3">


                        <div class="form-group">
                            <label>انتخاب دبیر</label>
                            <ng-select (change)="refreshDataSource()" #teacherselect="ngModel" name="teacher"
                                [(ngModel)]="selectedTeacher">
                                <ng-option *ngFor="let i of teachers" [value]="i.id">{{i.name}}
                                </ng-option>
                            </ng-select>
                        </div>

                    </div>

                    <div class="col-lg-3">

                        <div class="form-group">
                            <label>انتخاب درس</label>
                            <ng-select (change)="refreshDataSource()" [disabled]="!selectedTeacher"
                                #courseselect="ngModel" name="course" [(ngModel)]="selectedCourse">
                                <ng-option *ngFor="let cor of getFiltredCourse()" [value]="cor.id">
                                    {{cor.name}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">

                        <div class="row"
                            *ngIf="selectedGrade || selectedClass || selectedStudent || selectedCourse || selectedTeacher">
                            <div class="col-lg-12">
                                <button (click)="clearFilters()" class="btn btn-primary btn-block">
                                    پاک کردن فیلتر ها
                                </button>
                            </div>
                        </div>


                        <div class="row al-center" style="margin-bottom: 10px;">
                            <div class="col-lg-12 al-center">
                                <mat-button-toggle-group name="type" [(ngModel)]="filtredType"
                                    (ngModelChange)="refreshDataSource();">
                                    <mat-button-toggle value="all">همه</mat-button-toggle>
                                    <mat-button-toggle value="P_A">حضور، غیاب</mat-button-toggle>
                                    <mat-button-toggle value="ExamScore">نمره آزمون</mat-button-toggle>
                                    <mat-button-toggle value="ClassAsk">پرسش کلاسی</mat-button-toggle>
                                    <mat-button-toggle value="Point">مثبت / منفی</mat-button-toggle>
                                    <mat-button-toggle value="Discipline">مورد انضباطی</mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>

                        <div style="text-align: center;" *ngIf="!haveAnyData() && !isLoading">
                            <b>موردی یافت نشد</b>
                        </div>

                        <div>
                            <div dir="rtl">
                                <button class="btn btn-primary font-11" type="button"
                                    [routerLink]="['/dashboard/'+ PAGE_URL +'/edit/0']"
                                    [matTooltip]="'ثبت '+ PAGE_TITLE +' جدید'"><i class="fa fa-plus"></i>&nbsp;ثبت مورد
                                    جدید</button>

                                <button class="btn btn-danger font-11 mg-r" type="button"
                                    [matTooltip]="'حذف '+ PAGE_TITLES +' انتخاب شده'"
                                    [disabled]="selection.selected.length < 1" [swal]="deleteSwal"><i
                                        class="fa fa-trash"></i>&nbsp;حذف موارد انتخاب شده</button>

                                <swal #deleteSwal [confirmButtonText]="'بله'" [cancelButtonText]="'خیر'"
                                    title="آیا اطمینان دارید؟" text="حذف کردن این موارد قابل بازگشت نمی باشد"
                                    type="question" [showCancelButton]="true" [focusCancel]="true"
                                    (confirm)="deleteSelected()">
                                </swal>
                                <input type="text" id="text1" (input)="applyFilter($event.target.value)"
                                    [(ngModel)]="txtSearch" placeholder="جستجو" class="form-control">
                            </div>
                            <br>
                            <div class="example-container mat-elevation-z8">
                                <div class="example-loading-shade" *ngIf="isLoadingResults">
                                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                                </div>
                                <div class="mat-elevation-z8">
                                    <table mat-table [dataSource]="dataSource" matSort>
                                        <ng-container matColumnDef="select">
                                            <th mat-header-cell *matHeaderCellDef>
                                                <mat-checkbox [disabled]="!haveAnyData() || getRowCanSelected() == 0"
                                                    matTooltipPosition="before"
                                                    matTooltip="تعداد {{ selection.selected.length }} مورد انتخاب شده است"
                                                    (change)="$event ?  masterToggle() : null"
                                                    [checked]="selection.hasValue() && isAllSelected()"
                                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                                                </mat-checkbox>
                                            </th>
                                            <td mat-cell *matCellDef="let row">
                                                <mat-checkbox [disabled]="row.haveStudent" matTooltipPosition="before"
                                                    matTooltip="{{ row.haveStudent ? 'این '+ PAGE_TITLE +' دارای دانش آموز است، نمیتوان آن را حذف کرد' : 'انتخاب برای حذف' }}"
                                                    (click)="$event.stopPropagation()"
                                                    (change)="$event ? selection.toggle(row) : null"
                                                    [checked]="selection.isSelected(row)">
                                                </mat-checkbox>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="date">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> تاریخ </th>
                                            <td mat-cell *matCellDef="let row"> {{row.dateString}} </td>
                                        </ng-container>


                                        <ng-container matColumnDef="name">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> دانش آموز </th>
                                            <td mat-cell *matCellDef="let row"> {{row.studentName}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="class">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> کلاس </th>
                                            <td mat-cell *matCellDef="let row"> {{row.className}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="course">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> درس </th>
                                            <td mat-cell *matCellDef="let row"> {{row.courseName}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="teacher">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> دبیر </th>
                                            <td mat-cell *matCellDef="let row"> {{row.teacherName}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="type">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> نوع </th>
                                            <td mat-cell *matCellDef="let row"> {{ getClassBookTypeString(row.type) }}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="value">
                                            <th mat-header-cell *matHeaderCellDef> مقدار </th>
                                            <td mat-cell *matCellDef="let row"
                                                [style.color]="getClassBookResult(row.type, row.value, row.examName).color">
                                                {{ getClassBookResult(row.type, row.value, row.examName).result }}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="action">
                                            <th mat-header-cell *matHeaderCellDef> عملیات </th>
                                            <td mat-cell *matCellDef="let row">
                                                <button matTooltip="ویرایش {{row.name}}" matTooltipPosition="before"
                                                    mat-icon-button (click)="onEdit(row.id)">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                            </td>

                                        </ng-container>


                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                        </tr>
                                    </table>

                                    <div dir="ltr">
                                        <mat-paginator [length]="itemLength" [pageSizeOptions]="[5, 10, 15, 20, 25]"
                                            (page)="resetSelection($event)" showFirstLastButtons></mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>