<div class="field is-horizontal margin-bot">
    <div *ngIf="showLabelSection" class="field-label is-normal">
        <label class="label">{{ label }}</label>
    </div>
    <div class="field-body">

        <mat-radio-group class="radio-group" [matTooltip]="hint" #radio [(ngModel)]="value"
            (change)="onChange($event.value)" [disabled]="disabled">
            <mat-radio-button class="radio-button" *ngFor="let rbutton of options" [value]="rbutton.value"
                [disabled]="rbutton.disabled">
                {{rbutton.label}}
            </mat-radio-button>
        </mat-radio-group>
        <mat-hint *ngIf="!isValid()" style="color: red; font-size: 14px;">
            {{ getInvalidMessage() }}
        </mat-hint>

    </div>
</div>