<div class="row" style="flex-flow: row;">
    <div class="col-lg-10" style="margin: auto;">
        <label *ngIf="Attribute.attrTypeInt != 4 && Attribute.attrTypeInt != 11">
            <b>
                {{Attribute.title}}
            </b>
        </label>
    </div>
    <div class="col-lg-2" style="text-align: left;">
        <button [disabled]="!value || disabled" mat-icon-button [matTooltip]="'پاکسازی'" style="outline: none;"
            (click)="clearItemAttr()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<input *ngIf="Attribute.attrTypeInt == 1" [(ngModel)]="value" type="text" class="form-control"
    [placeholder]="getAttrPlaceholder()" (blur)="onTouched()" [disabled]="disabled"
    [required]="this.Attribute.isRequired" (input)="attributeInput($event.target.value)"
    [codeMeli]="Attribute.isMeliCode" />

<input *ngIf="Attribute.attrTypeInt == 2" [(ngModel)]="value" type="tel" inputmode="numeric" pattern="[0-9]*"
    class="form-control" [placeholder]="getAttrPlaceholder()" (blur)="onTouched()" [disabled]="disabled"
    [required]="this.Attribute.isRequired" (input)="attributeInput($event.target.value)"
    [codeMeli]="Attribute.isMeliCode" [phoneNumber]="Attribute.isPhoneNumber" />

<mat-form-field class="example-full-width" *ngIf="Attribute.attrTypeInt == 3">
    <input matInput [(ngModel)]="value" readonly (click)="picker.open()" (blur)="onTouched()" [disabled]="disabled"
        (dateInput)="attributeInput($event.value)" [matDatepicker]="picker" [placeholder]="getAttrPlaceholder()"
        [required]="this.Attribute.isRequired">
    <mat-datepicker-toggle style="font-size: 25px;" matTooltip="باز کردن تقویم" matSuffix [for]="picker">
    </mat-datepicker-toggle>
    <mat-datepicker #picker touchUi="true"></mat-datepicker>
</mat-form-field>

<mat-checkbox *ngIf="Attribute.attrTypeInt == 4" [(ngModel)]="value" (blur)="onTouched()" [disabled]="disabled"
    (change)="attributeInput($event.checked)">{{Attribute.title}}
</mat-checkbox>

<input *ngIf="Attribute.attrTypeInt == 5" [(ngModel)]="value" class="form-control" type="password"
    [required]="this.Attribute.isRequired" [disabled]="disabled" (blur)="onTouched()"
    (input)="attributeInput($event.target.value)" [placeholder]="getAttrPlaceholder()" />

<mat-form-field *ngIf="Attribute.attrTypeInt == 6">
    <mat-label>{{Attribute.title}}</mat-label>
    <mat-select style="direction: ltr" [(ngModel)]="value" (blur)="onTouched()" (valueChange)="attributeInput($event)"
        [required]="this.Attribute.isRequired">
        <mat-option *ngFor="let v of Attribute.attributeOptions | shuffleArray:Category.randomAttributeOption"
            [value]="v.id">
            {{v.title}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-radio-group *ngIf="Attribute.attrTypeInt == 10" class="radio-group" [(ngModel)]="value"
    (change)="attributeInput($event.value)">
    <mat-radio-button class="radio-button"
        *ngFor="let v of Attribute.attributeOptions | shuffleArray:Category.randomAttributeOption" [value]="v.id">
        {{v.title}}
    </mat-radio-button>
</mat-radio-group>

<input type="file" *ngIf="Attribute.attrTypeInt == 7" [(ngModel)]="value" accept="image/x-png,image/jpeg"
    (blur)="onTouched()" class="form-control" (change)="attributeInput($event)" [required]="Attribute.isRequired" />

<input type="file" *ngIf="Attribute.attrTypeInt == 8" [(ngModel)]="value" class="form-control" (blur)="onTouched()"
    (change)="attributeInput($event)" [required]="Attribute.isRequired" />

<textarea *ngIf="Attribute.attrTypeInt == 9" [(ngModel)]="value" type="text" class="form-control"
    [required]="this.Attribute.isRequired" [placeholder]="getAttrPlaceholder()" (blur)="onTouched()"
    (input)="attributeInput($event.target.value)"></textarea>

<ng-container *ngIf="Attribute.attrTypeInt == 11">
    <div [innerHTML]="Attribute.title | safeHtml"></div>

    <hr>

    <ng-container *ngIf="Attribute.questionType == 1">
        <app-custom-editor [showPicSelection]="false" [(ngModel)]="value" [required]="Attribute.isRequired"
            (blur)="onTouched()" [data]="Attribute.complatabelContent" label="جواب شما:"
            (dataChange)="attributeInput($event)" [showRequiredLabel]="false">
        </app-custom-editor>
    </ng-container>

    <ng-container *ngIf="Attribute.questionType == 2">
        <mat-radio-group class="radio-group" [(ngModel)]="value" (change)="attributeInput($event.value)"
            (blur)="onTouched()" [required]="this.Attribute.isRequired">
            <mat-radio-button class="radio-button"
                *ngFor="let v of Attribute.attributeOptions | shuffleArray:Category.randomAttributeOption"
                [value]="v.id">
                <div [innerHTML]="v.title | safeHtml"></div>
            </mat-radio-button>
        </mat-radio-group>
    </ng-container>

    <ng-container *ngIf="Attribute.questionType == 3">
        <app-custom-editor [showPicSelection]="false" [(ngModel)]="value" [required]="Attribute.isRequired"
            [data]="Attribute.complatabelContent" label="محتوای زیر را تکمیل کنید" (blur)="onTouched()"
            [showRequiredLabel]="false" (dataChange)="attributeInput($event)">
        </app-custom-editor>
    </ng-container>

</ng-container>

<ng-container *ngIf="controlDir">

    <ng-container *ngIf="Attribute.attrTypeInt == 11">
        <p *ngIf="controlDir.hasError('required') || controlDir.invalid" class="error">
            وارد کردن جواب این سوال الزامی است
        </p>
    </ng-container>

    <ng-container *ngIf="Attribute.attrTypeInt == 10">
        <p *ngIf="controlDir.hasError('required') || controlDir.invalid" class="error">
            {{ getRequiredErrorMessage() }}
        </p>
    </ng-container>

    <ng-container *ngIf="Attribute.attrTypeInt != 10 && Attribute.attrTypeInt != 11">
        <ng-container
            *ngIf="Attribute.attrTypeInt != 4 && (controlDir.touched || controlDir.dirty)  && controlDir.invalid">

            <p *ngIf="controlDir.hasError('required')" class="error">
                {{ getRequiredErrorMessage() }}
            </p>
            <p *ngIf="controlDir.hasError('meliCode') && controlDir.value" class="error">
                کد ملی را به صورت صحیح وارد نمایید
            </p>
            <p *ngIf="controlDir.hasError('isPhoneNumber') && controlDir.value" class="error">
                شماره تلفن همراه را به صورت صحیح وارد نمایید
            </p>
        </ng-container>
    </ng-container>

</ng-container>


<p *ngIf="IsUniqValueExist" class="error">
    {{ getUniqErrorMessage() }}
</p>

<div class="row" *ngIf="canShowDesc()">
    <div class="col-lg-1">
        <image-icon icon="info" [height]="15"></image-icon>
    </div>
    <div class="col-lg-10">
        <small style="color: #0072ab;">
            {{ Attribute.desc }}
        </small>
    </div>
</div>