<app-toolbar [Title]="'جزئیات آزمون ' + catName" [showRefresh]="false" [showBackButton]="true"></app-toolbar>

<mat-progress-bar mode="buffer" *ngIf="isLoading"></mat-progress-bar>

<div class="row">
    <div class="col-lg-12">

        <div class="row" style="flex-wrap: wrap !important;">
            <ng-container *ngFor="let unit of units">
                <div class="col-lg-12" *ngIf="getAttrsForUnit(unit.id).length != 0">
                    <div class="card margin-top-10">
                        <div class="card-header">
                            {{unit.title}}
                        </div>
                        <div class="card-body">
                            <div class="bordered" *ngFor="let i of getAttrsForUnit(unit.id)">

                                <div
                                    *ngIf="i.attrTypeInt == 1 || i.attrTypeInt == 2 || i.attrTypeInt == 5 || i.attrTypeInt == 9">
                                    <strong> {{ i.title }} </strong> :
                                    <b style="color: blue; display: inline;">
                                        {{ getItemAttrValDietale(i.id) }}
                                    </b>
                                </div>

                                <div class="form-group" *ngIf="i.attrTypeInt == 6">
                                    <label>{{i.title}}
                                        -
                                        &nbsp;
                                        <b [tooltip]="'نمره'">{{ getScoreForAttr(i) }} از
                                            {{ i.score }}</b>
                                    </label>
                                    <mat-form-field>
                                        <mat-label>{{i.title}}</mat-label>
                                        <mat-select style="direction: ltr" [value]="getItemAttrValDietale(i.id)">
                                            <mat-option style="pointer-events: none;"
                                                *ngFor="let v of getShiftedItem(i)"
                                                [style.color]="v.isTrue ? 'green' : 'unset'" [value]="v.id.toString()">
                                                {{v.title}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <ng-container *ngIf="i.attrTypeInt == 10">
                                    <div class="form-group">
                                        <label>{{i.title}}
                                            -
                                            &nbsp;
                                            <b [tooltip]="'نمره'">{{ getScoreForAttr(i) }} از
                                                {{ i.score }}</b>
                                        </label>
                                        <mat-radio-group class="radio-group" [value]="getItemAttrValDietale(i.id)">
                                            <mat-radio-button class="radio-button" *ngFor="let v of getShiftedItem(i)"
                                                [style.color]="v.isTrue ? 'green' : 'unset'" [value]="v.id.toString()">
                                                {{v.title}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </ng-container>

                                <mat-form-field class="example-full-width" *ngIf="i.attrTypeInt == 3">
                                    <input required matInput [matTooltip]="i.desc" readonly [matDatepicker]="picker"
                                        [value]="getItemAttrValDietale(i.id)" placeholder="{{i.title}}">
                                    <mat-datepicker #picker touchUi="true"></mat-datepicker>
                                </mat-form-field>

                                <mat-checkbox *ngIf="i.attrTypeInt == 4" [disabled]="true" [matTooltip]="i.desc"
                                    [checked]="getItemAttrValDietale(i.id)">
                                    {{i.title}}</mat-checkbox>

                                <strong *ngIf="i.attrTypeInt == 7 || i.attrTypeInt == 8">
                                    {{ i.title }}
                                </strong>
                                <img [src]="getItemAttrUrlDietale(i.id)"
                                    (click)="showPopupImage(getItemAttrUrlDietale(i.id))" [matTooltip]="i.desc"
                                    style="width: 100px; height: 100px;" class="img-circle"
                                    *ngIf="i.attrTypeInt == 7 && getItemAttrUrlDietale(i.id)">

                                <a *ngIf="i.attrTypeInt == 8 && getItemAttrUrlDietale(i.id)" [matTooltip]="i.desc"
                                    style="margin-top: 5px;" [href]="getItemAttrUrlDietale(i.id)"
                                    mat-raised-button>دانلود
                                    فایل</a>


                                <ng-container *ngIf="i.attrTypeInt == 11">
                                    <div class="form-group">
                                        <label>
                                            <b [tooltip]="'نمره'">{{ getScoreForAttr(i) }} از
                                                {{ i.score }}</b>
                                        </label>

                                        <div [innerHTML]="i.title | safeHtml"></div>

                                        <hr>

                                        <ng-container *ngIf="i.questionType == 1 || i.questionType == 3">
                                            <div [innerHTML]="getItemAttrValDietale(i.id) | safeHtml">
                                            </div>
                                        </ng-container>

                                        <ng-container *ngIf="i.questionType == 2">
                                            <mat-radio-group class="radio-group" [value]="getItemAttrValDietale(i.id)">
                                                <mat-radio-button class="radio-button"
                                                    *ngFor="let v of getShiftedItem(i)"
                                                    [style.color]="v.isTrue ? 'green' : 'unset'"
                                                    [value]="v.id.toString()">
                                                    <div style="pointer-events: none;" [innerHTML]="v.title | safeHtml">
                                                    </div>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </ng-container>

                                    </div>
                                </ng-container>

                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="row margin-top-10">
            <div class="col-lg-12 al-center">
                <b>نمره کل: {{ getTotalScoreOfDietale() }} از
                    {{ getSumScoreOfDietaleAttrs() }}</b>
            </div>
        </div>

    </div>
</div>