@charset "utf-8";

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "./assets/bulma/extention/bulma-extensions.min.css";


app-root.default-theme {
    .is-divider-vertical[data-content]::after, .is-divider[data-content]::after {
        background: #fff;
    }

    .mat-drawer-container {
        background-color: #fff;
    }

    .hovered-menu {
        background-color: #f5f5f5;
    }
}


app-root.dark-theme {
    .is-divider-vertical[data-content]::after, .is-divider[data-content]::after {
        background: #303030;
    }

    .hovered-menu {
        background-color: #282f2f;
    }
}

.mat-checkbox-label {
    margin-right: 5px;
}

.mat-menu-panel {
    max-width: unset !important;
    overflow-x: hidden !important;
}