<div class="row">
    <div class="col-lg-12">

        <mat-card>

            <ng-container *ngIf="isLoading">
                <mat-progress-bar mode="buffer"></mat-progress-bar>
            </ng-container>

            <ng-container *ngIf="!isLoading">

                <ng-container *ngIf="onlineExams.length == 0">
                    <div class="al-center">
                        <b>موردی یافت نشد</b>
                    </div>
                </ng-container>

                <div class="row">
                    <div class="col-lg-6" *ngFor="let exam of onlineExams">
                        <div class="widget-banner card">
                            <a routerLink="/register-item/{{exam.id}}">
                                <img class="img-fluid" [src]="getFileUrl(exam.registerPicUrl)">
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>

        </mat-card>

    </div>
</div>