


<label *ngIf="showLabel">{{ label }}</label>

<button mat-mini-fab color="primary" style="margin: 10px;" (click)="openSPTTDialog()">
    <mat-icon>mic</mat-icon>
</button>

<ckeditor (change)="dataChange.next($event); onChange($event)" (blur)="onTouched()" [disabled]="disabled" [(ngModel)]="content">
    <ckbutton *ngIf="showPicSelection" [name]="'image'" [command]="'insert_pic'" (click)="insertPicture()"
        [icon]="'plugins/icons.png?t=K24B'" [label]="'انتخاب تصویر ار آلبوم تصاویر'">
    </ckbutton>
</ckeditor>

<ng-container *ngIf="controlDir">
    <p *ngIf="!isValid() && controlDir.control.touched" class="error">
        وارد کردن این فیلد الزامی است
    </p>
</ng-container>