<div class="row">
    <div class="card">
        <div class="card-body row">

            <ng-container *ngFor="let i of pics">
                <div class="col-lg-4">
                    <div class="card" style="cursor: pointer; border-radius: 15px;">
                        <!-- <div class="card-body"> -->
                        <img [src]="auth.getFileUrl(i.picUrl)" (click)="viewImage(auth.getFileUrl(i.picUrl))">
                        <!-- </div> -->
                    </div>
                </div>
            </ng-container>

        </div>
    </div>
</div>