.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }


  
.logo {
    height: 35px;
    margin-left: 5px;
}
  

mat-toolbar {
    height: 45px; 
    min-height: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
}
