<div class="row">
    <div class="col-12">
        <div class="header-amazing-search" [ngStyle]="{ 'background-image': getGradentOfTop() }"></div>
    </div>
    <div class="col-12">
        <div class="row">

            <aside class="sidebar-page col-12">



            </aside>
        </div>

        <div class="row">

            <div class="col-lg-3">
                <div class="row">
                    <aside class="sidebar-page col-12">
                        <div class="box">
                            <div class="box-header">
                                <div class="box-toggle" data-toggle="collapse" href="#collapseExample2" role="button"
                                    aria-expanded="true" aria-controls="collapseExample2">
                                    جستجو در {{ productTitle }}
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </div>
                            </div>
                            <div class="box-content">
                                <div class="collapse show" id="collapseExample2">

                                    <div class="ui-input ui-input--quick-search">
                                        <input type="text" class="ui-input-field ui-input-field--cleanable"
                                            name="search" placeholder="عبارت مورد نظر خود را وارد کنید..."
                                            [(ngModel)]="txtSearch" (input)="page = 1; refreshProducts();">
                                        <span class="ui-input-cleaner"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-header">
                                <div class="box-toggle" data-toggle="collapse" href="#collapseExample1" role="button"
                                    aria-expanded="true" aria-controls="collapseExample1">
                                    دسته بندی ها
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </div>
                            </div>
                            <div class="box-content">
                                <div class="collapse show" id="collapseExample1">
                                    <div class="ui-input ui-input--quick-search">
                                        <input type="text" class="ui-input-field ui-input-field--cleanable"
                                            [(ngModel)]="searchCats" name="catSearch"
                                            placeholder="نام دسته بندی مورد نظر را وارد کنید...">
                                        <span class="ui-input-cleaner"></span>
                                    </div>
                                    <div class="filter-option">
                                        <mat-chip-list>
                                            <mat-chip *ngFor="let i of selectedCats">
                                                {{ i.title }}
                                                <mat-icon matChipRemove (click)="toggleCatFilter(i, false)"
                                                    style="margin-right: 5px; margin-left: 0;">cancel</mat-icon>
                                            </mat-chip>
                                        </mat-chip-list>
                                        <hr>
                                        <mat-checkbox *ngFor="let cat of getFiltredCats()"
                                            (change)="toggleCatFilter(cat, $event.checked)"
                                            [checked]="isCatSelected(cat.id)">
                                            {{cat.title}}
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>

            <div class="col-lg-9">


                <div class="breadcrumb-section default">
                    <ul class="breadcrumb-list">
                        <li><span>{{ productTitle }}</span></li>
                    </ul>
                </div>
                <div class="listing default">
                    <div class="listing-counter">{{ totalCount }} مورد</div>
                    <div class="listing-header default">
                        <ul class="listing-sort nav nav-tabs justify-content-center" role="tablist"
                            data-label="مرتب‌ سازی بر اساس :">
                            <li>
                                <a style="cursor: pointer;" [class.active]="sort == 'new'"
                                    (click)="setSort('new')">جدیدترین</a>
                            </li>
                            <li>
                                <a style="cursor: pointer;" [class.active]="sort == 'like'"
                                    (click)="setSort('like')">محبوب ترین</a>
                            </li>
                            <li>
                                <a style="cursor: pointer;" [class.active]="sort == 'lowPrice'"
                                    (click)="setSort('lowPrice')">ارزان ترین</a>
                            </li>
                            <li>
                                <a style="cursor: pointer;" [class.active]="sort == 'highPrice'"
                                    (click)="setSort('highPrice')">گران ترین</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content default text-center">

                        <mat-progress-bar *ngIf="isLoading" [mode]="'buffer'"></mat-progress-bar>

                        <div class="tab-pane active" id="related" role="tabpanel" aria-expanded="true">
                            <div class="container no-padding-right">
                                <ul class="row listing-items">

                                    <li class="col-xl-3 col-lg-4 col-md-6 col-12 no-padding" *ngFor="let i of products">
                                        <div class="product-box" style="cursor: pointer;"
                                            [routerLink]="['/'+ url +'/'+ i.id +'/'+ i.title]">
                                            <div class="product-seller-details product-seller-details-item-grid"
                                                style="padding-right: 25px;">
                                                <span class="product-main-seller">
                                                    <img [src]="getProductWriterPic(i)"
                                                        style="width: 25px;margin-left: 10px;">
                                                    {{ getProductWriterString(i.type, i.writerString) }}
                                                </span>
                                                <span class="product-seller-details-badge-container"></span>
                                            </div>
                                            <a class="product-box-img">
                                                <img [src]="auth.getFileUrl(i.picUrl)" alt="">
                                            </a>
                                            <div class="product-box-content">
                                                <div class="product-box-content-row">
                                                    <div class="product-box-title">
                                                        <a>
                                                            {{ i.title.length > 50 ? i.title.substr(0, 50) + '...' : i.title }}
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-box-row product-box-row-price">
                                                    <div class="price">
                                                        <div class="price-value">
                                                            <div *ngIf="i.totalPrice != 0" class="price-value-wrapper">
                                                                {{ i.totalPrice }} <span
                                                                    class="price-currency">ریال</span>
                                                            </div>
                                                            <div *ngIf="i.totalPrice == 0" class="price-value-wrapper">
                                                                <span class="price-currency">رایگان</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p>
                                                        {{ getProductTypeString(i.type, i.value) }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="pager default text-center">
                        <pagination (pageChanged)="setPage($event)" [totalItems]="totalCount"
                            [pageBtnClass]="'pager-item'" [nextText]="'صفحه بعد'" [previousText]="'صفحه قبل'"
                            [itemsPerPage]="pageSize" [(ngModel)]="page">
                        </pagination>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>