.product-seller-details-item-grid:before {
    display: none;
}

.product-box-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}