<div *ngIf="lastFadak.length != 0" class="row">
	<div class="col-12">
		<div class="widget widget-product card"
			style="border-top-style:solid;border-top-width:3px;border-top-color:#f65156;">
			<header class="card-header">
				<h3 class="card-title">
					<span>آخرین مطالب منتشر شده در نشریه دانش آموزی {{ auth.fadakTitle }}</span>
				</h3>
				<a [routerLink]="['/posts']" [queryParams]="{ 'type' : 3 }" class="view-all">مشاهده همه</a>
			</header>
			<owl-carousel [options]="owlOption" [carouselClasses]="['product-carousel', 'owl-theme']">

				<ng-container *ngFor="let i of lastFadak">

					<div class="item">
						<a routerLink="/post/{{i.id}}/{{i.url}}">
							<img style="width: 200px; height: 200px;" [src]="getFileUrl(i.headerPicUrl)" class="img-fluid" alt="">
						</a>
						<h2 class="post-title">
							<a> {{ i.title }} </a>
							<br>
							<span style="color: gray;font-size: 10px;"> {{ i.shortContent.substring(0, 50) }} </span>
						</h2>
						<div style="color: gray">
							{{ i.viewCount }} <i class="fa fa-eye"></i><span> | </span>
							{{ i.commentCount }} <i class="fa fa-comment"></i>
						</div>
					</div>

				</ng-container>

			</owl-carousel>
		</div>
	</div>
</div>