<app-data-edit #edit>
    <app-navbar [Title]="edit.Title"></app-navbar>

    <app-card [title]="edit.Title">
        <app-data-form>
            <app-cols>
                <!-- Right -->
                <app-col>

                    <app-input label="عنوان {{ edit.PAGE_TITLE }}" [(ngModel)]="edit.PAGE_Data.name" name="name">
                    </app-input>

                    <app-input type="number" [required]="false" label="کد {{ edit.PAGE_TITLE }}"
                        [(ngModel)]="edit.PAGE_Data.code" name="code">
                    </app-input>

                    <app-input type="number" label="شعبه {{ edit.PAGE_TITLE }}" [(ngModel)]="edit.PAGE_Data.section"
                        name="section">
                    </app-input>

                </app-col>


                <!-- Left -->
                <app-col>

                    <app-select label="انتخاب پایه تحصیلی" name="gradeSelect" [(ngModel)]="edit.PAGE_Data.gradeId">
                        <app-select-option *ngFor="let grade of grades" [title]="grade.name" [value]="grade.id">
                        </app-select-option>
                    </app-select>


                    <app-input type="number" label="ظرفیت پذیرش" [(ngModel)]="edit.PAGE_Data.capasity" name="capasity">
                    </app-input>


                    <app-input type="number" [required]="false" label="ترتیب" [(ngModel)]="edit.PAGE_Data.order"
                        name="order">
                    </app-input>
                    
                </app-col>
            </app-cols>


            <app-button-group>
                <app-button *button text="لغو" [isEdit]="edit.isEdit" [backToPureMenuUrl]="true"></app-button>

                <app-button *button [text]="edit.btnTitle" [loading]="edit.isLoading" (onClick)="edit.sts()"
                    color="primary" [fullWidth]="true" [disabled]="!edit.isAllFormValid()">
                </app-button>

            </app-button-group>

        </app-data-form>
    </app-card>
</app-data-edit>