<app-toolbar [Title]="'افزودن وظیفه'" [showBackButton]="true" [showRefresh]="false"></app-toolbar>

<form #fm1="ngForm">

    <div class="form-group">
        <label>تاریخ </label>
        <mat-form-field style="width: 100%;">
            <input #dateStart="ngModel" (click)="picker1.open()" readonly name="dateStart" required matInput
                [matDatepicker]="picker1" [(ngModel)]="studentDailySchedule.dateExecute" placeholder="تاریخ">
            <mat-datepicker-toggle style="font-size: 25px;" matSuffix [for]="picker1">
            </mat-datepicker-toggle>
            <mat-datepicker #picker1 touchUi="true"></mat-datepicker>
        </mat-form-field>
        <div *ngIf="dateStart.touched && dateStart.invalid" class="error">
            <div>
                وارد کردن تاریخ الزامی است
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>
            انتخاب درس
        </label>
        <select class="form-control" name="course" [(ngModel)]="studentDailySchedule.courseId" #courseselect="ngModel"
            required>
            <option *ngFor="let i of courses" [value]="i.id">
                {{ i.name }}
            </option>
        </select>
        <div *ngIf="courseselect.touched && courseselect.invalid" class="error">
            <div>
                انتخاب درس الزامی است
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>
            انتخاب نوع
        </label>
        <select class="form-control" name="type" [(ngModel)]="studentDailySchedule.type" #typeselect="ngModel" required>
            <option [value]="1">مطالعه</option>
            <option [value]="2">تست مطالعه</option>
            <option [value]="3">تست مرور</option>
            <option [value]="4">مرور</option>
            <option [value]="5">جمع بندی</option>
            <option [value]="6">حل تمرین</option>
        </select>
        <div *ngIf="typeselect.touched && typeselect.invalid" class="error">
            <div>
                انتخاب نوع الزامی است
            </div>
        </div>
    </div>


    <div class="form-group">
        <label>
            حجم
        </label>

        <textarea class="form-control" name="vol" [(ngModel)]="studentDailySchedule.volume"
            placeholder="حجم"></textarea>
    </div>


    <div class="form-group">
        <label>
            زمان
        </label>

        <p>
            از &nbsp;

            <input class="form-control" placeholder="از ساعت" style="width: 100px; display: inline;" type="text"
                name="FromTime" [(ngModel)]="studentDailySchedule.fromTime">
            &nbsp;
            الی
            &nbsp;

            <input class="form-control" placeholder="تا ساعت" style="width: 100px; display: inline;" type="text"
                name="toTime" [(ngModel)]="studentDailySchedule.toTime">

        </p>

    </div>

</form>


<button type="button" style="width: 100%;" [disabled]="isLoading || fm1.invalid" (click)="sts()"
    class="btn btn-primary">ثبت</button>