<mat-progress-bar *ngIf="isLoading" [mode]="'buffer'"></mat-progress-bar>

<div class="row" *ngIf="!isLoading">
    <div class="col-lg-12 margin-top-10">

        <div class="faded faded-bottom full-wigth {{ mobileQuery.matches ? 'mobile' : 'desktop' }}">
            <img [src]="auth.getFileUrl(product?.picUrl)" class="full-wigth" />
    
            <div style="text-align: right; color: initial;" class="faded-content">
                <div class="row" *ngIf="!mobileQuery.matches">
                    <div class="col-lg-2">
                        <div style="text-align: center;">
    
                            <p>
                                <img [src]="auth.getFileUrl(writer?.picUrl)"
                                    style="height: 120px; width: 120px; border-radius: 120px;">
                            </p>
                            <b>{{ writer.fullName }}</b>
                        </div>
                    </div>
                    <div class="col-lg-10" style="margin: auto;">
    
                        <h4 class="margin-top-10">{{ product.title }}</h4>
    
                        <b>{{ getProductTypeString(product.type, product.value) }}</b>
                        <br>
                        <b>{{ getProductWriterString(product.type, product.writerString) }}</b>
                        <br>
                        <br>
    
                        <div [innerHTML]="trustedProductContect"></div>
                    </div>
                </div>
                <div class="row" *ngIf="mobileQuery.matches">
                    <div class="col-lg-12" style="margin: auto;">
    
                        <h4 class="margin-top-10">{{ product.title }}</h4>
    
                        <b>{{ getProductTypeString(product.type, product.value) }}</b>
                        <br>
                        <b>{{ getProductWriterString(product.type, product.writerString) }}</b>
                        <br>
                        <br>
    
                        <div [innerHTML]="trustedProductContect"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                
                <mat-card style="margin-top: 15px;">
                    <mat-card-content>
                        <mat-tab-group mat-stretch-tabs>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <mat-icon class="example-tab-icon">vertical_align_bottom</mat-icon>
                                    لینک های دانلود
                                </ng-template>

                                <div class="col-lg-12" style="overflow-x: auto;">

                                    <div style="margin-top: 10px;" class="row"
                                        *ngFor="let i of links; let index = index;">
                                        <div class="col-2 al-right">
                                            <b>{{ index + 1 }}</b>
                                        </div>
                                        <div class="col-7 al-center" [tooltip]="i.desc">
                                            {{ i.title }}
                                        </div>
                                        <div class="col-3 al-left" tooltip="تعداد دفعات دانلود: {{ i.downloadTime }}">
                                            <button mat-stroked-button color="primary" *ngIf="i.price > 0">{{ i.price }}
                                                ریال</button>
                                            <a mat-stroked-button color="primary" *ngIf="i.price == 0"
                                                [href]="i.haveExternalUrl ? i.fileUrl : auth.getFileUrl(i.fileUrl)" (click)="addDownloadCount(i.id)">
                                                <mat-icon>cloud_download</mat-icon> &nbsp;
                                                رایگان
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

    </div>
</div>