<div dir="rtl" style="min-width: 150px;">
    <h1 mat-dialog-title>تغییر نمره سوال</h1>
    <form #fm="ngForm">
        <div mat-dialog-content>
            <mat-form-field class="example-full-width">
                <mat-label>نمره</mat-label>
                <input matInput placeholder="نمره از {{ maxScore }}" type="text" inputmode="numeric" pattern="[+-]?([0-9]*[.])?[0-9]+"
                    name="sc" [(ngModel)]="currentScore" required>
            </mat-form-field>

            <p *ngIf="currentScore > maxScore" style="color: red">
                نمره نمیتواند از ملاک آن بیشتر باشد
            </p>
        </div>

        <div mat-dialog-actions>
            <button mat-stroked-button color="primary" [disabled]="currentScore > maxScore || fm.invalid"
                (click)="setScore()">تایید</button>
            <button mat-stroked-button color="warn" style="margin-right: 5px;" [mat-dialog-close]="false">لغو</button>
        </div>
    </form>
</div>