.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

.radio-button {
    margin: 0;
}

.attrSection img {
    width: 100%;
}


.question {
    border-right: inset;

    &.easy {
        border-right-color: green;
    }

    &.medium {
        border-right-color: #a7a700;
    }

    &.hard {
        border-right-color: orange;
    }

    &.veryHard {
        border-right-color: #de0000;
    }
}