<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{ Title }}</h5>
                <span>{{ subTitle }}</span>
            </div>

            <ng-template #cancelBtn>
                <button mat-button color="warn" style="margin-right: 10px;">لغو</button>
            </ng-template>
            <ng-template #confirmBtn>
                <button mat-button color="primary">تایید</button>
            </ng-template>

            <div class="ibox-content">
                <form #fm1="ngForm" id="fm11">

                    <div class="row" *ngIf="TYPE == 1">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>پایه تحصیلی</label>
                                <ng-select #grade="ngModel" name="grade" [(ngModel)]="category.gradeId"
                                    (change)="category.courseId = null; autoSetCatTitle();" [required]="true">
                                    <ng-option *ngFor="let u of grades" [value]="u.id">{{u.name}}</ng-option>
                                </ng-select>
                                <mat-error *ngIf="grade.hasError('required')">
                                    انتخاب پایه تحصیلی الزامی است
                                </mat-error>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>درس</label>
                                <ng-select #course="ngModel" name="course" [(ngModel)]="category.courseId"
                                    [required]="true" [disabled]="!category.gradeId" (change)="autoSetCatTitle()">
                                    <ng-option *ngFor="let u of getCourseByCatGrade()" [value]="u.id">{{u.name}}
                                    </ng-option>
                                </ng-select>
                                <mat-error *ngIf="course.hasError('required')">
                                    انتخاب درس الزامی است
                                </mat-error>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>کلاس</label>
                                <ng-select name="classSelect" [(ngModel)]="category.classId"
                                    [disabled]="!category.gradeId" (change)="autoSetCatTitle()">
                                    <ng-option *ngFor="let cls of getClassbyGrade()" [value]="cls.id">{{cls.name}}
                                    </ng-option>
                                </ng-select>
                                <mat-hint>انتخاب کلاس اختیاری است</mat-hint>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>نوع آزمون</label>
                                <ng-select #examType="ngModel" name="examType" [(ngModel)]="category.examTypeId"
                                    (change)="autoSetCatTitle()">
                                    <ng-option *ngFor="let u of examTypes" [value]="u.id">{{u.name}}</ng-option>
                                </ng-select>
                                <mat-hint>انتخاب نوع آزمون اختیاری است</mat-hint>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>کارنامه</label>
                                <ng-select #workbook="ngModel" name="workbook" [(ngModel)]="category.workbookId">
                                    <ng-option *ngFor="let u of workbooks" [value]="u.id">{{u.name}}</ng-option>
                                </ng-select>
                                <mat-hint>انتخاب کارنامه اختیاری است</mat-hint>
                            </div>
                        </div>
                    </div>

                    <img *ngIf="category.headerPicUrl && isEdit" [src]="auth.getFileUrl(category.headerPicUrl)"
                        style="border-radius: 10px; width: 100%;">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>نام</label>
                                <input type="text" required #name="ngModel" name="name" [(ngModel)]="category.title"
                                    placeholder="نام {{ pageTitle }}" class="form-control">
                                <div *ngIf="(name.touched || name.dirty)  && name.invalid">
                                    <p *ngIf="name.hasError('required')" class="error">
                                        وارد کردن نام {{ pageTitle }} الزامی است
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2">
                            <label>تصویر سربرگ {{ pageTitle }}</label>
                        </div>
                        <div class="col-lg-10">
                            <div class="form-group">
                                <button (click)="removePic(3)" [disabled]="category.headerPicData.length == 0"
                                    mat-raised-button>
                                    حذف تصویر
                                </button>

                                <a target="_blank" mat-raised-button style="margin: 5px;"
                                    *ngIf="category.headerPicUrl && isEdit" [href]="getFileUrl(category.headerPicUrl)">
                                    نمایش تصویر سربرگ {{ pageTitle }}
                                </a>

                                <ngx-dropzone #d3 [disabled]="category.headerPicData.length != 0"
                                    (filesRejected)="removePic(3)" (filesAdded)="setPic($event, 3)" [multiple]="false"
                                    [showPreviews]="true" [accept]="'image/png,image/jpeg'"
                                    [label]="'تصویر خود را اینجا رها کنید یا کلیک کنید'">
                                </ngx-dropzone>


                                <mat-error *ngIf="!isEdit && category.headerPicData.length == 0">
                                    انتخاب تصویر سربرگ {{ pageTitle }} الزامی است
                                </mat-error>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-6">

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>تاریخ شروع</label>
                                        <mat-form-field class="example-full-width">
                                            <input tabindex="7" #datePublish="ngModel" readonly name="datePublish"
                                                required matInput [matDatepicker]="picker1"
                                                [(ngModel)]="category.datePublish" (click)="openc(picker1)"
                                                placeholder="تاریخ شروع">
                                            <mat-datepicker-toggle style="font-size: 25px;" matSuffix [for]="picker1">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker1 touchUi="true"></mat-datepicker>
                                        </mat-form-field>
                                        <div *ngIf="datePublish.touched && datePublish.invalid" class="error">
                                            <div>
                                                وارد کردن تاریخ شروع الزامی است
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6" style="margin-top: 35px;">
                                    <div class="form-group">
                                        <input class="form-control" [ngxTimepicker]="pickerTime1" name="timePu"
                                            [format]="24" readonly [(ngModel)]="category.timePublish"
                                            placeholder="زمان شروع" required #timePu>
                                        <ngx-material-timepicker [cancelBtnTmpl]="cancelBtn"
                                            [confirmBtnTmpl]="confirmBtn" #pickerTime1></ngx-material-timepicker>
                                        <div *ngIf="timePu.touched && timePu.invalid" class="error">
                                            <div>
                                                وارد کردن زمان شروع الزامی است
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>تاریخ انقضا</label>
                                        <mat-form-field class="example-full-width">
                                            <input tabindex="7" #dateExpire="ngModel" (click)="openc(picker2)" readonly
                                                name="dateExpire" required matInput [matDatepicker]="picker2"
                                                [(ngModel)]="category.dateExpire" placeholder="تاریخ انقضا">
                                            <mat-datepicker-toggle style="font-size: 25px;" matSuffix [for]="picker2">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker2 touchUi="true"></mat-datepicker>
                                        </mat-form-field>
                                        <div *ngIf="dateExpire.touched && dateExpire.invalid" class="error">
                                            <div>
                                                وارد کردن تاریخ انقضا الزامی است
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6" style="margin-top: 35px;">
                                    <div class="form-group">
                                        <input class="form-control" [ngxTimepicker]="pickerTime2" name="timeEx" readonly
                                            [format]="24" [(ngModel)]="category.timeExpire" placeholder="زمان انقضا"
                                            required #timeEx>
                                        <ngx-material-timepicker [cancelBtnTmpl]="cancelBtn"
                                            [confirmBtnTmpl]="confirmBtn" #pickerTime2></ngx-material-timepicker>
                                        <div *ngIf="timeEx.touched && timeEx.invalid" class="error">
                                            <div>
                                                وارد کردن زمان انقضا الزامی است
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <ng-container *ngIf="TYPE == 1">
                        <div class="row">
                            <div class="col-lg-4">

                                <div class="form-group">
                                    <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="category.isActive">
                                        فعال بودن آزمون
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="col-lg-4">

                                <div class="form-group">
                                    <mat-checkbox [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="category.randomAttribute">
                                        ترتیب سوالات به صورت تصادفی
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="col-lg-4">

                                <div class="form-group">
                                    <mat-checkbox [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="category.randomAttributeOption">
                                        ترتیب جواب ها به صورت تصادفی
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="col-lg-4">

                                <div class="form-group">
                                    <mat-checkbox [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="category.showScoreAfterDone">
                                        اعلام نمره پس از آزمون
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="col-lg-4">

                                <div class="form-group">
                                    <mat-checkbox [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="category.calculateNegativeScore">
                                        محاسبه نمره منفی
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="col-lg-4" *ngIf="isEdit">
                                <div class="form-group">
                                    <mat-checkbox [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="category.useLimitedRandomQuestionNumber">
                                        سوالات تصادفی برای شرکت در آزمون
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="category.useLimitedRandomQuestionNumber">
                        <br>

                        <label>تعداد سوالات نمایش داده شده به دانش آموز را براساس میزان سختی وارد کنید: </label>

                        <form #fmQuestionLimit="ngForm">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>تعداد سوال خیلی دشوار</label>
                                        <input type="number" inputmode="numeric" pattern="[0-9]*"
                                            name="veryHardQuestion" [(ngModel)]="category.veryHardQuestionNumber"
                                            placeholder="تعداد سوال خیلی دشوار" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>تعداد سوال دشوار</label>
                                        <input type="number" inputmode="numeric" pattern="[0-9]*" name="hardQuestion"
                                            [(ngModel)]="category.hardQuestionNumber" placeholder="تعداد سوال دشوار"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>تعداد سوال متوسط</label>
                                        <input type="number" inputmode="numeric" pattern="[0-9]*"
                                            name="moderateQuestion" [(ngModel)]="category.moderateQuestionNumber"
                                            placeholder="تعداد سوال متوسط" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>تعداد سوال آسان</label>
                                        <input type="number" inputmode="numeric" pattern="[0-9]*" name="easyQuestion"
                                            [(ngModel)]="category.easyQuestionNumber" placeholder="تعداد سوال آسان"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </form>

                        <ng-container *ngIf="fmQuestionLimit.valid">
                            <p [class.error]="getQuestionNumber() < getSumOfDefctQuestionNumbers()">
                                جمع سوالات تصادفی : &nbsp; &nbsp;
                                <b>{{ getSumOfDefctQuestionNumbers() }} / {{ getQuestionNumber() }}</b>
                            </p>

                            <p class="error"
                                *ngIf="!category.veryHardQuestionNumber && !category.hardQuestionNumber && !category.moderateQuestionNumber && !category.easyQuestionNumber">
                                وارد کردن حداقل یکی از میزان سختی سوالات الزامی است
                            </p>
                        </ng-container>


                        <br>
                    </ng-container>

                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    سایر ویژگی های {{ pageTitle }}
                                </mat-panel-title>
                                <mat-panel-description>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <div class="margin-top-10">
                                <label>وضعیت کلی</label>
                                <hr>

                                <div class="row">
                                    <div class="col-lg-6" style="margin-top: 40px;">

                                        <div class="form-group">
                                            <mat-checkbox [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="category.isActive">فعال
                                            </mat-checkbox>
                                        </div>

                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>انتخاب ریشه</label>
                                            <ng-select [clearable]="true" name="categoryParent"
                                                [(ngModel)]="category.parentId">
                                                <ng-option *ngFor="let u of Categories" [value]="u.id">{{u.title}}
                                                </ng-option>
                                            </ng-select>
                                            <mat-hint>انتخاب ریشه اختیاری است</mat-hint>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            <label>عنوان دکمه ثبت نام</label>
                                            <input type="text" #menuname="ngModel" name="menuname"
                                                [(ngModel)]="category.btnTitle" placeholder="عنوان دکمه ثبت نام"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>پیغام پایان
                                                {{ category.btnTitle ? category.btnTitle : "ثبت نام" }}</label>
                                            <input type="text" name="endMessage" [(ngModel)]="category.endMessage"
                                                placeholder="پیغام پایان {{ category.btnTitle ? category.btnTitle : 'ثبت نام' }} "
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="margin-top-10">
                                <label>اطلاع رسانی</label>
                                <hr>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <mat-checkbox [ngModelOptions]="{standalone: true}"
                                                (change)="category.isInfoShow = category.haveInfo"
                                                [(ngModel)]="category.haveInfo">
                                                {{ pageTitle }} دارای اطلاع رسانی است؟
                                            </mat-checkbox>
                                        </div>

                                        <div class="form-group">
                                            <mat-checkbox [ngModelOptions]="{standalone: true}"
                                                [disabled]="category.haveInfo == false"
                                                [(ngModel)]="category.isInfoShow">
                                                زمان اطلاع رسانی {{ pageTitle }} فرا رسیده است؟
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            <label>پیام اطلاع رسانی درصورت فعال بودن</label>
                                            <input type="text" [disabled]="category.haveInfo == false"
                                                name="activeMessage" [(ngModel)]="category.activeMessage"
                                                placeholder="پیام اطلاع رسانی درصورت فعال بودن " class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            <mat-checkbox [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="category.haveEntringCard">
                                                {{ pageTitle }} دارای کارت ورود به جلسه است؟
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            <label>پیام اطلاع رسانی درصورت غیر فعال بودن</label>
                                            <input type="text" [disabled]="category.haveInfo == false"
                                                name="deActiveMessage" [(ngModel)]="category.deActiveMessage"
                                                placeholder="پیام اطلاع رسانی درصورت غیر فعال بودن "
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>



                            </div>

                            <div class="margin-top-10">
                                <label>توضیحات</label>
                                <hr>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">

                                            <app-custom-editor name="desc" [(ngModel)]="category.desc"
                                                label="توضیحات {{ pageTitle }}" [required]="false">
                                            </app-custom-editor>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">

                                            <app-custom-editor [required]="false" name="licence"
                                                [(ngModel)]="category.license" label="تفاهم نامه {{ pageTitle }}">
                                            </app-custom-editor>
                                            <mat-hint>درصورت پرکردن این فیلد قبل از وارد کردن داده، کاربر می بایست
                                                مفاد این
                                                تفاهم
                                                نامه را بپذیرد</mat-hint>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="margin-top-10">
                                <label>درسترسی ها</label>
                                <hr>

                                <div class="row">

                                    <div class="col-lg-12">


                                        <div class="row">
                                            <div class="col-lg-6">

                                                <div class="form-group">
                                                    <label>انتخاب ردیف نمایش در صفحه اصلی</label>
                                                    <ng-select #showRow="ngModel" name="showRow"
                                                        [(ngModel)]="category.showRow" required>
                                                        <ng-option [value]="1">ردیف بالا</ng-option>
                                                        <ng-option [value]="2">ردیف پایین</ng-option>
                                                    </ng-select>
                                                    <mat-error *ngIf="showRow.hasError('required')">
                                                        انتخاب ردیف نمایش در صفحه اصلی الزامی است
                                                    </mat-error>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>انتخاب نوع پست مرتبط به این {{ pageTitle }}</label>
                                                    <ng-select #type="ngModel" name="type"
                                                        [(ngModel)]="category.postType" required>
                                                        <ng-option [value]="0">صفحه اصلی</ng-option>
                                                        <ng-option *ngIf="auth.isUserAccess('post_feed', false)"
                                                            [value]="1">
                                                            {{ getPostTypeString(1) }}</ng-option>
                                                        <ng-option *ngIf="auth.isUserAccess('post_post', false)"
                                                            [value]="2">
                                                            {{ getPostTypeString(2) }}</ng-option>
                                                        <ng-option *ngIf="auth.isUserAccess('post_fadak', false)"
                                                            [value]="3">
                                                            {{ getPostTypeString(3) }}</ng-option>
                                                        <ng-option *ngIf="auth.isUserAccess('post_amoozesh', false)"
                                                            [value]="4">
                                                            {{ getPostTypeString(4) }}</ng-option>
                                                        <ng-option *ngIf="auth.isUserAccess('post_enzebati', false)"
                                                            [value]="5">
                                                            {{ getPostTypeString(5) }}</ng-option>
                                                        <ng-option *ngIf="auth.isUserAccess('post_parvaresh', false)"
                                                            [value]="6">
                                                            {{ getPostTypeString(6) }}</ng-option>
                                                        <ng-option *ngIf="auth.isUserAccess('post_mali', false)"
                                                            [value]="7">
                                                            {{ getPostTypeString(7) }}</ng-option>
                                                        <ng-option *ngIf="auth.isUserAccess('post_it', false)"
                                                            [value]="8">
                                                            {{ getPostTypeString(8) }}</ng-option>
                                                        <ng-option *ngIf="auth.isUserAccess('post_moshaver', false)"
                                                            [value]="9">
                                                            {{ getPostTypeString(9) }}</ng-option>
                                                        <ng-option
                                                            *ngIf="auth.isUserAccess('post_voroodBeSystem', false)"
                                                            [value]="10">
                                                            {{ getPostTypeString(10) }}</ng-option>
                                                        <ng-option *ngIf="auth.isUserAccess('post_sabteNam', false)"
                                                            [value]="11">
                                                            {{ getPostTypeString(11) }}</ng-option>
                                                        <ng-option *ngIf="auth.isUserAccess('post_mokatebat', false)"
                                                            [value]="12">
                                                            {{ getPostTypeString(12) }}</ng-option>
                                                        <ng-option
                                                            *ngIf="auth.isUserAccess('post_ghesmathayeSamane', false)"
                                                            [value]="13">
                                                            {{ getPostTypeString(13) }}</ng-option>
                                                        <ng-option *ngIf="auth.isUserAccess('post_faq', false)"
                                                            [value]="14">
                                                            {{ getPostTypeString(14) }}</ng-option>
                                                        <ng-option *ngIf="auth.isUserAccess('post_ehrazeHoviat', false)"
                                                            [value]="15">
                                                            {{ getPostTypeString(15) }}</ng-option>
                                                        <ng-option
                                                            *ngIf="auth.isUserAccess('post_sharayetSabteNam', false)"
                                                            [value]="16">
                                                            {{ getPostTypeString(16) }}</ng-option>
                                                        <ng-option
                                                            *ngIf="auth.isUserAccess('post_darkhastTajdidNazar', false)"
                                                            [value]="17">
                                                            {{ getPostTypeString(17) }}</ng-option>
                                                        <ng-option
                                                            *ngIf="auth.isUserAccess('post_enteghadVaPishnahad', false)"
                                                            [value]="18">
                                                            {{ getPostTypeString(18) }}</ng-option>
                                                        <ng-option
                                                            *ngIf="auth.isUserAccess('post_daneshAmoozan', false)"
                                                            [value]="19">
                                                            {{ getPostTypeString(19) }}</ng-option>
                                                        <ng-option
                                                            *ngIf="auth.isUserAccess('post_daneshAmookhtegan', false)"
                                                            [value]="20">
                                                            {{ getPostTypeString(20) }}</ng-option>
                                                        <ng-option
                                                            *ngIf="auth.isUserAccess('post_forsatHayeShoghli', false)"
                                                            [value]="21">
                                                            {{ getPostTypeString(21) }}</ng-option>
                                                        <ng-option *ngIf="auth.isUserAccess('post_tamasBaTaha', false)"
                                                            [value]="22">
                                                            {{ getPostTypeString(22) }}</ng-option>
                                                        <ng-option *ngIf="auth.isUserAccess('post_darbareTaha', false)"
                                                            [value]="23">
                                                            {{ getPostTypeString(23) }}</ng-option>
                                                        <ng-option
                                                            *ngIf="auth.isUserAccess('post_dabirKhaneBargozidegan', false)"
                                                            [value]="24">
                                                            {{ getPostTypeString(24) }}</ng-option>
                                                        <ng-option
                                                            *ngIf="auth.isUserAccess('post_hedayatTahsil', false)"
                                                            [value]="25">
                                                            {{ getPostTypeString(25) }}</ng-option>
                                                    </ng-select>
                                                    <mat-error *ngIf="type.hasError('required')">
                                                        انتخاب نوع پست مرتبط به این {{ pageTitle }} الزامی است
                                                    </mat-error>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">

                                                <div class="form-group">
                                                    <label>انتخاب سطح دسترسی</label>
                                                    <ng-select #role="ngModel" name="role"
                                                        [(ngModel)]="category.roleAccess" required>
                                                        <ng-option [value]="0">تمامی سطوح دسترسی</ng-option>
                                                        <ng-option *ngFor="let u of roles" [value]="u.id">{{u.name}}
                                                        </ng-option>
                                                    </ng-select>
                                                    <mat-hint>سطح دسترسی مجاز به مشاهده {{ pageTitle }}</mat-hint>
                                                    <mat-error *ngIf="role.hasError('required')">
                                                        انتخاب سطح دسترسی الزامی است
                                                    </mat-error>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">

                                                <div class="form-group">
                                                    <label>انتخاب وضعیت احراز هویت</label>
                                                    <ng-select #authorize="ngModel" name="authorize"
                                                        [(ngModel)]="category.authorizeState" required>
                                                        <ng-option [value]="0">بدون احراز هویت (ورود برای عموم)
                                                        </ng-option>
                                                        <ng-option [value]="1">احراز هویت دبیران</ng-option>
                                                        <ng-option [value]="2">احراز هویت اولیای دانش آموز
                                                        </ng-option>
                                                        <ng-option [value]="3">احراز هویت دانش آموز</ng-option>
                                                        <ng-option [value]="4">تمامی کاربران سایت (دبیران - اولیا و
                                                            دانش
                                                            آموزان)</ng-option>
                                                    </ng-select>
                                                    <mat-hint>آیا کاربر برای وارد شدن به {{ pageTitle }} و وارد کردن
                                                        داده
                                                        نیاز است به
                                                        حساب کاربری خود وارد شود یا خیر
                                                    </mat-hint>
                                                    <mat-error *ngIf="authorize.hasError('required')">
                                                        انتخاب وضعیت احراز هویت الزامی است
                                                    </mat-error>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row" *ngIf="TYPE == 0">
                                            <div class="col-lg-12">

                                                <div class="row">
                                                    <div class="col-lg-9">
                                                        <div class="form-group">
                                                            <label>انتخاب دسترسی دبیران</label>
                                                            <ng-select name="teacherSelect"
                                                                [(ngModel)]="selectedTeacherId">
                                                                <ng-option *ngFor="let u of Teachers" [value]="u.id">
                                                                    {{u.name}}
                                                                </ng-option>
                                                            </ng-select>
                                                            <mat-hint>افزودن دبیر مجاز به مشاهده و ویرایش
                                                                {{ pageTitle }}
                                                            </mat-hint>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">

                                                        <button [disabled]="!selectedTeacherId" mat-stroked-button
                                                            style="width: 100%; margin-top: 35px;"
                                                            (click)="addTeacherToCategoryAccess()">
                                                            افزودن
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="row margin-top-10">
                                                    <div class="col-lg-12">
                                                        <mat-chip-list>
                                                            <mat-chip *ngFor="let i of category.teachersIdAccess">
                                                                {{ getTeacherName(i) }}
                                                                <mat-icon matChipRemove (click)="removeTeacher(i)"
                                                                    style="margin-right: 5px; margin-left: 0;">
                                                                    cancel
                                                                </mat-icon>
                                                            </mat-chip>
                                                        </mat-chip-list>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="margin-top-10">
                                <label>تصاویر</label>
                                <hr>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>تصویر ثبت اطلاعات</label>
                                            <br>
                                            <button (click)="removePic(1)"
                                                [disabled]="category.registerFileData.length == 0" mat-raised-button>
                                                حذف تصویر </button>

                                            <a target="_blank" mat-raised-button style="margin: 5px;"
                                                *ngIf="category.registerPicUrl && isEdit"
                                                [href]="getFileUrl(category.registerPicUrl)">نمایش تصویر ثبت اطلاعات</a>

                                            <ngx-dropzone #d1 [disabled]="category.registerFileData.length != 0"
                                                (filesRejected)="removePic(1)" (filesAdded)="setPic($event, 1)"
                                                [multiple]="false" [showPreviews]="true"
                                                [accept]="'image/png,image/jpeg'"
                                                [label]="'تصویر خود را اینجا رها کنید یا کلیک کنید'">
                                            </ngx-dropzone>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>تصویر اطلاع رسانی</label>
                                            <br>
                                            <button (click)="removePic(2)"
                                                [disabled]="category.showInfoFileData.length == 0" mat-raised-button>
                                                حذف تصویر </button>

                                            <a target="_blank" mat-raised-button style="margin: 5px;"
                                                *ngIf="category.showInfoPicUrl && isEdit"
                                                [href]="getFileUrl(category.showInfoPicUrl)">نمایش تصویر اطلاع
                                                رسانی</a>

                                            <ngx-dropzone #d2 [disabled]="category.showInfoFileData.length != 0"
                                                (filesRejected)="removePic(2)" (filesAdded)="setPic($event, 2)"
                                                [multiple]="false" [showPreviews]="true"
                                                [accept]="'image/png,image/jpeg'"
                                                [label]="'تصویر خود را اینجا رها کنید یا کلیک کنید'"></ngx-dropzone>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </mat-expansion-panel>
                    </mat-accordion>

                    <div class="row margin-top-10">
                        <div class="col-md-12">
                            <button type="button" mat-raised-button color="warn" style="margin: 5px;"
                                routerLink="/dashboard/{{ pageUrl }}">لغو</button>
                            <button type="submit" mat-raised-button color="primary"
                                [disabled]="!fm1.valid || (!isEdit && category.headerPicData.length == 0)"
                                (click)="sts()">{{ btnTitle }}</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="isEdit">
    <div class="row margin-top-10">
        <div [class.col-lg-4]="TYPE == 1" [class.col-lg-12]="TYPE != 1">
            <button mat-flat-button color="primary" style="width: 100%;" (click)="addTemplateAttribute()">
                افزودن فیلد
            </button>
        </div>
        <div [class.col-lg-4]="true" *ngIf="TYPE == 1">
            <button mat-flat-button color="accent" style="width: 100%;" (click)="addQuestion()">افزودن سوال</button>
        </div>
        <div [class.col-lg-4]="true" *ngIf="TYPE == 1">
            <button mat-flat-button style="width: 100%;" (click)="addGroupQuestions()">افزودن گروهی سوال</button>
        </div>
    </div>
</ng-container>


<div class="row margin-top-10" *ngIf="isEdit">
    <mat-progress-bar mode="buffer" *ngIf="isLoading"></mat-progress-bar>

    <ng-container *ngFor="let unit of units">
        <div class="col-lg-12" *ngIf="getAttrsForUnit(unit.id).length != 0">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 style="color: #1ab394"> {{ unit.title }} </h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group" *ngFor="let i of getAttrsForUnit(unit.id); let ind = index">
                        <div class="panel" style="cursor: pointer; border-radius: 15px; background-color: whitesmoke;">

                            <div class="row">
                                <div class="col-lg-1">
                                    <button [tooltip]="'حذف دائمی فیلد'" mat-icon-button (click)="deleteAttr(i.id)"
                                        color="warn">
                                        <mat-icon>cancel</mat-icon>
                                    </button>

                                    <button [tooltip]="'انتقال به صفحه ویرایش سوال'" *ngIf="i.attrTypeInt == 11"
                                        routerLink="/dashboard/question/edit/{{ i.questionId }}" mat-icon-button
                                        color="primary">
                                        <mat-icon>help_center</mat-icon>
                                    </button>

                                    <button [tooltip]="'ویرایش فیلد'" (click)="editAttr(i.id)" mat-icon-button
                                        color="primary">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </div>

                                <div [class.col-lg-7]="i.attrTypeInt == 11" [class.col-lg-11]="i.attrTypeInt != 11">

                                    <div class="row">
                                        <div class="col-lg-12">


                                            <mat-checkbox [checked]="i.isInClient"
                                                (change)="changeCheckableAttr($event.checked, i, 'isInClient')">
                                                سمت کاربر
                                            </mat-checkbox>

                                            <mat-checkbox [checked]="i.isRequired"
                                                (change)="changeCheckableAttr($event.checked, i, 'isRequired')">
                                                اجباری
                                            </mat-checkbox>

                                            <mat-checkbox [checked]="i.isUniq"
                                                (change)="changeCheckableAttr($event.checked, i, 'isUniq')">
                                                غیرتکراری
                                            </mat-checkbox>

                                            <mat-checkbox [checked]="i.isInShowInfo"
                                                (change)="changeCheckableAttr($event.checked, i, 'isInShowInfo')">
                                                اطلاع رسانی
                                            </mat-checkbox>

                                            <mat-checkbox [checked]="i.isInSearch"
                                                (change)="changeCheckableAttr($event.checked, i, 'isInSearch')">
                                                جستجو
                                            </mat-checkbox>

                                        </div>
                                    </div>

                                    <hr>


                                    <div class="row">
                                        <div class="col-lg-12 attrSection">

                                            <label *ngIf="i.attrTypeInt != 4 && i.attrTypeInt != 11">{{i.title}}</label>

                                            <input *ngIf="i.attrTypeInt == 1" type="text" [tabIndex]="ind + 5"
                                                class="form-control" placeholder="{{i.title}}" [matTooltip]="i.desc" />

                                            <input *ngIf="i.attrTypeInt == 2" type="number" [tabIndex]="ind + 5"
                                                class="form-control" placeholder="{{i.title}}" [matTooltip]="i.desc" />

                                            <mat-form-field class="example-full-width" *ngIf="i.attrTypeInt == 3">
                                                <input required matInput [matTooltip]="i.desc" readonly
                                                    (click)="openc(picker)" [matDatepicker]="picker"
                                                    placeholder="{{i.title}}">
                                                <mat-datepicker-toggle style="font-size: 25px;"
                                                    matTooltip="باز کردن تقویم" matSuffix [for]="picker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker touchUi="true"></mat-datepicker>
                                            </mat-form-field>

                                            <mat-checkbox *ngIf="i.attrTypeInt == 4" [matTooltip]="i.desc">{{i.title}}
                                            </mat-checkbox>

                                            <input *ngIf="i.attrTypeInt == 5" [tabIndex]="ind + 5" class="form-control"
                                                type="password" placeholder="{{i.title}}" [matTooltip]="i.desc" />

                                            <mat-form-field *ngIf="i.attrTypeInt == 6">
                                                <mat-label>{{i.title}}</mat-label>
                                                <mat-select style="direction: ltr">
                                                    <mat-option *ngFor="let v of getShiftedItem(i)" [value]="v.id"
                                                        (click)="setIsTrueAttributeOption(v)">{{v.title}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-hint>{{i.desc}}</mat-hint>
                                            </mat-form-field>

                                            <mat-radio-group class="example-radio-group" *ngIf="i.attrTypeInt == 10">
                                                <mat-radio-button class="example-radio-button"
                                                    *ngFor="let v of getShiftedItem(i)" [value]="v.id"
                                                    (dblclick)="setIsTrueAttributeOption(v)">{{v.title}}
                                                </mat-radio-button>
                                            </mat-radio-group>


                                            <input type="file" *ngIf="i.attrTypeInt == 7"
                                                accept="image/x-png,image/jpeg" value="fileSelected"
                                                class="form-control" />


                                            <input type="file" *ngIf="i.attrTypeInt == 8" class="form-control" />

                                            <textarea *ngIf="i.attrTypeInt == 9" [tabIndex]="ind + 5"
                                                class="form-control" placeholder="{{i.title}}"
                                                [matTooltip]="i.desc"></textarea>


                                            <ng-container *ngIf="i.attrTypeInt == 11">
                                                <div [innerHTML]="i.title | safeHtml"></div>

                                                <hr>

                                                <ng-container *ngIf="i.questionType == 1">
                                                    <label>جواب کاربر:</label>
                                                </ng-container>

                                                <ng-container *ngIf="i.questionType == 2">
                                                    <mat-radio-group class="radio-group">
                                                        <mat-radio-button class="radio-button"
                                                            *ngFor="let v of getShiftedItem(i)" [value]="v.id"
                                                            (dblclick)="setIsTrueQuestionOption(v, i.questionId, i)">
                                                            <i *ngIf="v.isTrue" style="color: green;"
                                                                class="fa fa-key"></i> &nbsp;
                                                            <div [innerHTML]="v.title | safeHtml"></div>
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </ng-container>

                                                <ng-container *ngIf="i.questionType == 3">
                                                    <mat-hint>محتوای زیر را تکمیل کنید</mat-hint>
                                                    <div [innerHTML]="i.complatabelContent | safeHtml"></div>
                                                </ng-container>

                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4" *ngIf="i.attrTypeInt == 11" style="padding: 20px;">
                                    <p>نوع سوال: <b>{{ i.questionTypeString }}</b></p>
                                    <p>طراح سوال: <b>{{ i.questionPerson }}</b></p>
                                    <p>سطح سوال: <b>{{ i.questionDefact }}</b></p>
                                    <p>نمره: <b>{{ i.score }}</b></p>
                                </div>

                            </div>



                        </div>

                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>