<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{ Title }}</h5>
            </div>

            <ng-template #cancelBtn>
                <button mat-button color="warn" style="margin-right: 10px;">لغو</button>
            </ng-template>
            <ng-template #confirmBtn>
                <button mat-button color="primary">تایید</button>
            </ng-template>

            <div class="ibox-content">
                <form #fm1="ngForm" id="fm11">
                    <div class="row">
                        <div class="col-sm-6  b-r">
                            <div class="form-group">
                                <label>نام</label>
                                <input type="text" required #name="ngModel" name="name" [(ngModel)]="category.title"
                                    placeholder="نام نمون برگ" class="form-control">
                                <div *ngIf="(name.touched || name.dirty)  && name.invalid">
                                    <p *ngIf="name.hasError('required')" class="error">
                                        وارد کردن نام نمون برگ الزامی است
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>تاریخ شروع</label>
                                <mat-form-field class="example-full-width">
                                    <input tabindex="7" #datePublish="ngModel" readonly name="datePublish" required
                                        matInput [matDatepicker]="picker1" [(ngModel)]="category.datePublish"
                                        (click)="openc(picker1)" placeholder="تاریخ شروع">
                                    <mat-datepicker-toggle style="font-size: 25px;" matSuffix [for]="picker1">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker1 touchUi="true"></mat-datepicker>
                                </mat-form-field>
                                <div *ngIf="datePublish.touched && datePublish.invalid" class="error">
                                    <div>
                                        وارد کردن تاریخ شروع الزامی است
                                    </div>
                                </div>
                                <br>
                                <input class="form-control" [ngxTimepicker]="pickerTime1" name="timePu" [format]="24"
                                    readonly [(ngModel)]="category.timePublish" placeholder="زمان شروع" required
                                    #timePu>
                                <ngx-material-timepicker [cancelBtnTmpl]="cancelBtn" [confirmBtnTmpl]="confirmBtn"
                                    #pickerTime1></ngx-material-timepicker>
                                <div *ngIf="timePu.touched && timePu.invalid" class="error">
                                    <div>
                                        وارد کردن زمان شروع الزامی است
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label>تاریخ انقضا</label>
                                <mat-form-field class="example-full-width">
                                    <input tabindex="7" #dateExpire="ngModel" (click)="openc(picker2)" readonly
                                        name="dateExpire" required matInput [matDatepicker]="picker2"
                                        [(ngModel)]="category.dateExpire" placeholder="تاریخ انقضا">
                                    <mat-datepicker-toggle style="font-size: 25px;" matSuffix [for]="picker2">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker2 touchUi="true"></mat-datepicker>
                                </mat-form-field>
                                <div *ngIf="dateExpire.touched && dateExpire.invalid" class="error">
                                    <div>
                                        وارد کردن تاریخ انقضا الزامی است
                                    </div>
                                </div>
                                <br>
                                <input class="form-control" [ngxTimepicker]="pickerTime2" name="timeEx" readonly
                                    [format]="24" [(ngModel)]="category.timeExpire" placeholder="زمان انقضا" required
                                    #timeEx>
                                <ngx-material-timepicker [cancelBtnTmpl]="cancelBtn" [confirmBtnTmpl]="confirmBtn"
                                    #pickerTime2></ngx-material-timepicker>
                                <div *ngIf="timeEx.touched && timeEx.invalid" class="error">
                                    <div>
                                        وارد کردن زمان انقضا الزامی است
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>آیا این نمون برگ فعال است؟</label>
                                <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="category.isActive">فعال
                                </mat-checkbox>
                            </div>

                            <div class="form-group">
                                <label>آیا این نمون برگ دارای اطلاع رسانی است؟</label>
                                <mat-checkbox [ngModelOptions]="{standalone: true}"
                                    (change)="category.isInfoShow = category.haveInfo" [(ngModel)]="category.haveInfo">
                                    اطلاع رسانی</mat-checkbox>
                            </div>

                            <div class="form-group">
                                <label>آیا زمان اطلاع رسانی نمون برگ فرا رسیده است؟</label>
                                <mat-checkbox [ngModelOptions]="{standalone: true}"
                                    [disabled]="category.haveInfo == false" [(ngModel)]="category.isInfoShow">زمان اطلاع
                                    رسانی</mat-checkbox>
                            </div>

                            <div class="form-group">
                                <label>پیام اطلاع رسانی درصورت فعال بودن</label>
                                <input type="text" [disabled]="category.haveInfo == false" name="activeMessage"
                                    [(ngModel)]="category.activeMessage"
                                    placeholder="پیام اطلاع رسانی درصورت فعال بودن " class="form-control">
                            </div>

                            <div class="form-group">
                                <label>پیام اطلاع رسانی درصورت غیر فعال بودن</label>
                                <input type="text" [disabled]="category.haveInfo == false" name="deActiveMessage"
                                    [(ngModel)]="category.deActiveMessage"
                                    placeholder="پیام اطلاع رسانی درصورت غیر فعال بودن " class="form-control">
                            </div>


                            <div class="form-group">
                                <label>عنوان دکمه ثبت نام</label>
                                <input type="text" #menuname="ngModel" name="menuname" [(ngModel)]="category.btnTitle"
                                    placeholder="عنوان دکمه ثبت نام" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>انتخاب ردیف نمایش در صفحه اصلی</label>
                                <ng-select #showRow="ngModel" name="showRow" [(ngModel)]="category.showRow" required>
                                    <ng-option [value]="1">ردیف بالا</ng-option>
                                    <ng-option [value]="2">ردیف پایین</ng-option>
                                </ng-select>
                                <mat-error *ngIf="showRow.hasError('required')">
                                    انتخاب ردیف نمایش در صفحه اصلی الزامی است
                                </mat-error>
                            </div>

                            <div class="form-group">
                                <label>انتخاب نوع پست مرتبط به این نمونه برگ</label>
                                <ng-select #type="ngModel" name="type" [(ngModel)]="category.postType" required>
                                    <ng-option [value]="0">صفحه اصلی</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_feed', false)" [value]="1">
                                        {{ getPostTypeString(1) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_post', false)" [value]="2">
                                        {{ getPostTypeString(2) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_fadak', false)" [value]="3">
                                        {{ getPostTypeString(3) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_amoozesh', false)" [value]="4">
                                        {{ getPostTypeString(4) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_enzebati', false)" [value]="5">
                                        {{ getPostTypeString(5) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_parvaresh', false)" [value]="6">
                                        {{ getPostTypeString(6) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_mali', false)" [value]="7">
                                        {{ getPostTypeString(7) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_it', false)" [value]="8">
                                        {{ getPostTypeString(8) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_moshaver', false)" [value]="9">
                                        {{ getPostTypeString(9) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_voroodBeSystem', false)" [value]="10">
                                        {{ getPostTypeString(10) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_sabteNam', false)" [value]="11">
                                        {{ getPostTypeString(11) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_mokatebat', false)" [value]="12">
                                        {{ getPostTypeString(12) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_ghesmathayeSamane', false)" [value]="13">
                                        {{ getPostTypeString(13) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_faq', false)" [value]="14">
                                        {{ getPostTypeString(14) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_ehrazeHoviat', false)" [value]="15">
                                        {{ getPostTypeString(15) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_sharayetSabteNam', false)" [value]="16">
                                        {{ getPostTypeString(16) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_darkhastTajdidNazar', false)"
                                        [value]="17">{{ getPostTypeString(17) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_enteghadVaPishnahad', false)"
                                        [value]="18">{{ getPostTypeString(18) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_daneshAmoozan', false)" [value]="19">
                                        {{ getPostTypeString(19) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_daneshAmookhtegan', false)" [value]="20">
                                        {{ getPostTypeString(20) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_forsatHayeShoghli', false)" [value]="21">
                                        {{ getPostTypeString(21) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_tamasBaTaha', false)" [value]="22">
                                        {{ getPostTypeString(22) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_darbareTaha', false)" [value]="23">
                                        {{ getPostTypeString(23) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_dabirKhaneBargozidegan', false)"
                                        [value]="24">{{ getPostTypeString(24) }}</ng-option>
                                    <ng-option *ngIf="auth.isUserAccess('post_hedayatTahsil', false)" [value]="25">
                                        {{ getPostTypeString(25) }}</ng-option>
                                </ng-select>
                                <mat-error *ngIf="type.hasError('required')">
                                    انتخاب نوع پست مرتبط به این نمونه برگ الزامی است
                                </mat-error>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <label>انتخاب ریشه</label>
                            <br>
                            <button color="primary"
                                [ngStyle]="{'background-color': this.category.parentId != null ? 'red' : 'green' }"
                                mat-mini-fab (click)="clearSelection()" matTooltip="انتخاب به عنوان ریشه">
                                <mat-icon>clear_all</mat-icon>
                            </button>
                            <button color="primary"
                                [ngStyle]="{'background-color': !checkForNodeOpen() ? 'red' : 'green' }"
                                style="margin: 5px;" mat-mini-fab (click)="openAllTree()" matTooltip="بازکردن همه"><i
                                    class="fa fa-plus"></i></button>
                            <button color="primary"
                                [ngStyle]="{'background-color': checkForNodeOpen() ? 'red' : 'green' }"
                                style="margin: 2px;" mat-mini-fab (click)="closeAllTree()" matTooltip="بستن همه"><i
                                    class="fa fa-minus"></i></button>
                            <br>
                            <br>
                            <div id="divtree">
                            </div>
                            <div class="form-group">
                                <label>توضیحات نمون برگ</label>
                                <textarea type="text" rows="5" (keydown.enter)="sts()" name="desc"
                                    [(ngModel)]="category.desc" placeholder="توضیحات " class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label>توافق نامه نمون برگ</label>
                                <textarea type="text" rows="5" name="license" [(ngModel)]="category.license"
                                    placeholder="توافق نامه" class="form-control"></textarea>
                                <mat-hint>درصورت پرکردن این فیلد قبل از وارد کردن داده، کاربر می بایست مفاد این توافق
                                    نامه را بپذیرد</mat-hint>
                            </div>
                            <div class="form-group">
                                <label>پیغام پایان ثبت نام</label>
                                <input type="text" (keydown.enter)="sts()" name="endMessage"
                                    [(ngModel)]="category.endMessage" placeholder="پیغام پایان ثبت نام "
                                    class="form-control">
                            </div>


                            <div class="form-group">
                                <label>انتخاب سطح دسترسی</label>
                                <ng-select #role="ngModel" name="role" [(ngModel)]="category.roleAccess" required>
                                    <ng-option [value]="0">تمامی سطوح دسترسی</ng-option>
                                    <ng-option *ngFor="let u of roles" [value]="u.id">{{u.name}}
                                    </ng-option>
                                </ng-select>
                                <mat-hint>سطح دسترسی مجاز به مشاهده نمون برگ</mat-hint>
                                <mat-error *ngIf="role.hasError('required')">
                                    انتخاب سطح دسترسی الزامی است
                                </mat-error>
                            </div>

                            <div class="form-group">
                                <label>انتخاب وضعیت احراز هویت</label>
                                <ng-select #authorize="ngModel" name="authorize" [(ngModel)]="category.authorizeState"
                                    required>
                                    <ng-option [value]="0">بدون احراز هویت (ورود برای عموم)</ng-option>
                                    <ng-option [value]="1">احراز هویت دبیران</ng-option>
                                    <ng-option [value]="2">احراز هویت اولیای دانش آموز</ng-option>
                                    <ng-option [value]="3">احراز هویت دانش آموز</ng-option>
                                    <ng-option [value]="4">تمامی کاربران سایت (دبیران - اولیا و دانش آموزان)</ng-option>
                                </ng-select>
                                <mat-hint>آیا کاربر برای وارد شدن به نمون برگ و وارد کردن داده نیاز است به
                                    حساب کاربری خود وارد شود یا خیر
                                </mat-hint>
                                <mat-error *ngIf="authorize.hasError('required')">
                                    انتخاب وضعیت احراز هویت الزامی است
                                </mat-error>
                            </div>

                            <div class="form-group">
                                <label>آیا این نمون برگ دارای کارت ورود به جلسه است؟</label>
                                <mat-checkbox [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="category.haveEntringCard">
                                    کارت ورود به جلسه</mat-checkbox>
                            </div>


                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>تصویر ابتدای صفحه</label>
                                <br>
                                <button (click)="removePic(3)" [disabled]="category.headerPicData.length == 0"
                                    mat-raised-button> حذف تصویر </button>

                                <a target="_blank" mat-raised-button style="margin: 5px;"
                                    *ngIf="category.headerPicUrl && isEdit"
                                    [href]="getFileUrl(category.headerPicUrl)">نمایش تصویر ابتدای صفحه</a>

                                <ngx-dropzone #d3 [disabled]="category.headerPicData.length != 0"
                                    (filesRejected)="removePic(3)" (filesAdded)="setPic($event, 3)" [multiple]="false"
                                    [showPreviews]="true" [accept]="'image/png,image/jpeg'"
                                    [label]="'تصویر خود را اینجا رها کنید یا کلیک کنید'">
                                </ngx-dropzone>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>تصویر ثبت اطلاعات</label>
                                    <br>
                                    <button (click)="removePic(1)" [disabled]="category.registerFileData.length == 0"
                                        mat-raised-button> حذف تصویر </button>

                                    <a target="_blank" mat-raised-button style="margin: 5px;"
                                        *ngIf="category.registerPicUrl && isEdit"
                                        [href]="getFileUrl(category.registerPicUrl)">نمایش تصویر ثبت اطلاعات</a>

                                    <ngx-dropzone #d1 [disabled]="category.registerFileData.length != 0"
                                        (filesRejected)="removePic(1)" (filesAdded)="setPic($event, 1)"
                                        [multiple]="false" [showPreviews]="true" [accept]="'image/png,image/jpeg'"
                                        [label]="'تصویر خود را اینجا رها کنید یا کلیک کنید'">
                                    </ngx-dropzone>

                                    <mat-error *ngIf="!isEdit && category.registerFileData.length == 0">
                                        انتخاب تصویر ثبت اطلاعات الزامی است
                                    </mat-error>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>تصویر اطلاع رسانی</label>
                                    <br>
                                    <button (click)="removePic(2)" [disabled]="category.showInfoFileData.length == 0"
                                        mat-raised-button> حذف تصویر </button>

                                    <a target="_blank" mat-raised-button style="margin: 5px;"
                                        *ngIf="category.showInfoPicUrl && isEdit"
                                        [href]="getFileUrl(category.showInfoPicUrl)">نمایش تصویر اطلاع رسانی</a>

                                    <ngx-dropzone #d2 [disabled]="category.showInfoFileData.length != 0"
                                        (filesRejected)="removePic(2)" (filesAdded)="setPic($event, 2)"
                                        [multiple]="false" [showPreviews]="true" [accept]="'image/png,image/jpeg'"
                                        [label]="'تصویر خود را اینجا رها کنید یا کلیک کنید'"></ngx-dropzone>


                                    <mat-error *ngIf="!isEdit && category.showInfoFileData.length == 0">
                                        انتخاب تصویر اطلاع رسانی الزامی است
                                    </mat-error>
                                </div>

                            </div>
                        </div>

                        <br>
                        <br>

                        <div class="col-md-12">
                            <button type="button" mat-raised-button color="warn" style="margin: 5px;"
                                routerLink="/dashboard/category">لغو</button>
                            <button type="submit" mat-raised-button color="primary"
                                [disabled]="!fm1.valid || (!isEdit && category.showInfoFileData.length == 0) || (!isEdit && category.registerFileData.length == 0)"
                                (click)="sts()">{{ btnTitle }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row margin-top-10" *ngIf="isEdit">
    <mat-progress-bar mode="buffer" *ngIf="isLoading"></mat-progress-bar>

    <div *ngFor="let unit of units">

        <div class="col-lg-4 ui-sortable" *ngIf="getAttrsForUnit(unit.id).length != 0">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 style="color: #1ab394"> {{ unit.title }} </h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group" *ngFor="let i of getAttrsForUnit(unit.id); let ind = index">
                        <div class="panel" style="cursor: pointer; border-radius: 15px; background-color: whitesmoke;">
                            <button [tooltip]="'حذف دائمی فیلد'" mat-icon-button (click)="deleteAttr(i.id)" color="warn">
                                <mat-icon>cancel</mat-icon>
                            </button>

                            <button [tooltip]="'ویرایش فیلد'" (click)="editAttr(i.id)" mat-icon-button color="primary"
                                style="margin-right: 5px;">
                                <mat-icon>edit</mat-icon>
                            </button>

                            <label *ngIf="i.attrTypeInt != 4">{{i.title}}</label>

                            <input *ngIf="i.attrTypeInt == 1" type="text" [tabIndex]="ind + 5" class="form-control"
                                placeholder="{{i.title}}" [matTooltip]="i.desc" />

                            <input *ngIf="i.attrTypeInt == 2" type="number" [tabIndex]="ind + 5" class="form-control"
                                placeholder="{{i.title}}" [matTooltip]="i.desc" />

                            <mat-form-field class="example-full-width" *ngIf="i.attrTypeInt == 3">
                                <input required matInput [matTooltip]="i.desc" readonly (click)="openc(picker)"
                                    [matDatepicker]="picker" placeholder="{{i.title}}">
                                <mat-datepicker-toggle style="font-size: 25px;" matTooltip="باز کردن تقویم" matSuffix
                                    [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker touchUi="true"></mat-datepicker>
                            </mat-form-field>

                            <mat-checkbox *ngIf="i.attrTypeInt == 4" [matTooltip]="i.desc">{{i.title}}</mat-checkbox>

                            <input *ngIf="i.attrTypeInt == 5" [tabIndex]="ind + 5" class="form-control" type="password"
                                placeholder="{{i.title}}" [matTooltip]="i.desc" />

                            <mat-form-field *ngIf="i.attrTypeInt == 6">
                                <mat-label>{{i.title}}</mat-label>
                                <mat-select style="direction: ltr">
                                    <mat-option *ngFor="let v of getShiftedItem(i.values)" [value]="v">{{v}}
                                    </mat-option>
                                </mat-select>
                                <mat-hint>{{i.desc}}</mat-hint>
                            </mat-form-field>


                            <input type="file" *ngIf="i.attrTypeInt == 7" accept="image/x-png,image/jpeg"
                                value="fileSelected" class="form-control" />


                            <input type="file" *ngIf="i.attrTypeInt == 8" class="form-control" />

                            <textarea *ngIf="i.attrTypeInt == 9" [tabIndex]="ind + 5" class="form-control"
                                placeholder="{{i.title}}" [matTooltip]="i.desc"></textarea>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>