
.ng-invalid {
    border-color: red !important;
}

.ng-valid {
    border-color: green !important;
}

.example-full-width {
    width: 100%;
}

div.title {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}