<div class="row margin-top-10">
    <div class="col-lg-6" style="text-align: right;">
        <h4><b>فهرست {{ pageTitles }}</b></h4>
    </div>
    <div class="col-lg-6" style="text-align: left;">
        <button class="btn btn-primary font-11" type="button" [routerLink]="['/dashboard/'+ pageUrl +'/edit/0']"
            matTooltip="افزودن {{ pageTitle }} جدید"><i class="fa fa-plus"></i>&nbsp;افزودن
            {{ pageTitle }}</button>

        <button class="btn btn-danger font-11 mg-r" type="button" matTooltip="حذف {{ pageTitles }} انتخاب شده"
            [disabled]="selection.selected.length < 1" [swal]="deleteSwal"><i class="fa fa-trash"></i>&nbsp;حذف
            {{ pageTitles }}</button>


        <swal #deleteSwal [confirmButtonText]="'بله'" [cancelButtonText]="'خیر'" title="آیا اطمینان دارید؟"
            text="حذف کردن این موارد قابل بازگشت نمی باشد" type="question" [showCancelButton]="true"
            [focusCancel]="true" (confirm)="deleteSelected()">
        </swal>

        <button class="btn btn-info font-11 mg-r" type="button" (click)="refreshDataSource(true)"
            matTooltip="بارگذاری مجدد"><i class="fa fa-refresh"></i>&nbsp; بارگذاری مجدد</button>
    </div>
</div>

<hr>

<div class="row margin-top-10">
    <div class="col-lg-12" style="margin-bottom: 15px;">
        <input type="text" [(ngModel)]="txtSearch" id="text1" (keyup)="applyFilter($event.target.value)"
            placeholder="جستجو" class="form-control">
    </div>
    <div class="col-lg-12" style="margin-bottom: 10px; text-align: center;">
        <p matTooltip="قابلیت آرشیو کردن {{ TYPE == 1 ? 'آزمون های آنلاین' : 'نمون برگ ها' }} برای سهولت کار شما با سیستم طراحی شده است"><b>نحوه نمایش آرشیو ها</b></p>
        <mat-button-toggle-group name="archiveShow" [(ngModel)]="archiveType" (change)="refreshDataSource(true)">
            <mat-button-toggle [value]="3">همه</mat-button-toggle>
            <mat-button-toggle [value]="2">فقط آرشیو ها</mat-button-toggle>
            <mat-button-toggle [value]="1">بدون آرشیو ها</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <ng-container *ngIf="TYPE == 1">
        <div class="col-lg-4">
            <div class="form-group">
                <label>پایه تحصیلی</label>
                <ng-select [clearable]="true" name="grade" [(ngModel)]="selectedGradeId"
                    (change)="refreshDataSource(true); selectedCourseId = null;">
                    <ng-option *ngFor="let u of grades" [value]="u.id">{{u.name}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>درس</label>
                <ng-select [clearable]="true" name="course" [(ngModel)]="selectedCourseId"
                    (change)="refreshDataSource(true)" [disabled]="!selectedGradeId">
                    <ng-option *ngFor="let u of getCourseByGrade()" [value]="u.id">{{u.name}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>نوع آزمون</label>
                <ng-select [clearable]="true" name="examType" [(ngModel)]="selectedExamTypeId"
                    (change)="refreshDataSource(true)">
                    <ng-option *ngFor="let u of examTypes" [value]="u.id">{{u.name}}</ng-option>
                </ng-select>
            </div>
        </div>
    </ng-container>
</div>

<hr>

<div class="row" style="display: flex; flex-flow: wrap;">

    <div class="col-lg-4 margin-top-10" *ngFor="let cat of Category">
        <mat-card>
            <div class="row">
                <div class="col-lg-12">
                    <p><b>{{ cat.title }}</b></p>
                    <ng-container *ngIf="TYPE == 1">
                        <p><span>{{ cat.gradeString + ' | ' + cat.classString }}</span></p>
                    </ng-container>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="padding: 0;">
                    <img [src]="auth.getFileUrl(cat.headerPicUrl)" style="width: 100%;">
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-lg-12">
                    <p>شناسه {{ pageTitle }}: <b>{{ cat.id }}</b></p>
                    <ng-container *ngIf="TYPE == 1">
                        <p>درس: <b>{{ cat.courseString }}</b></p>
                        <p>نوع آزمون: <b>{{ cat.examTypeString }}</b></p>
                        <p>کارنامه: <b>{{ cat.workbookString }}</b></p>
                    </ng-container>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-6">
                    <p>شروع: <b>{{ cat.datePublishString }}</b></p>
                    <p>ساعت:
                        <mat-chip-list style="display: inline-block;">
                            <mat-chip selected>{{ cat.timePublish }}</mat-chip>
                        </mat-chip-list>
                    </p>
                </div>
                <div class="col-lg-6">
                    <p>پایان: <b>{{ cat.dateExpireString }}</b></p>
                    <p>ساعت:
                        <mat-chip-list style="display: inline-block;">
                            <mat-chip selected>{{ cat.timeExpire }}</mat-chip>
                        </mat-chip-list>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button mat-icon-button (click)="togglePin(cat.id)" matTooltip="برگزیده کردن">
                        <mat-icon>{{ cat.isPined ? 'bookmark' : 'bookmark_border' }}</mat-icon>
                    </button>

                    <button mat-icon-button matTooltip="آرشیو" (click)="changeCheckableProperty(cat.id, 'isArchived',
                        !cat.isArchived)">
                        <mat-icon [style.color]="cat.isArchived ? 'blue' : 'orange'">
                            {{ cat.isArchived ? 'unarchive' : 'archive' }}
                        </mat-icon>
                    </button>

                    <button mat-icon-button matTooltip="فعال" (click)="changeCheckableProperty(cat.id, 'isActive',
                        !cat.isActive)">
                        <mat-icon>{{ cat.isActive ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>

                    <button mat-icon-button matTooltip="دارای اطلاع رسانی است؟" (click)="changeCheckableProperty(cat.id, 'haveInfo',
                        !cat.haveInfo)">
                        <mat-icon>{{ cat.haveInfo ? 'help' : 'help_outline' }}</mat-icon>
                    </button>

                    <button mat-icon-button matTooltip="زمان اطلاع رسانی فرارسیده است؟" *ngIf="cat.haveInfo" (click)="changeCheckableProperty(cat.id, 'isInfoShow',
                        !cat.isInfoShow)">
                        <mat-icon>{{ cat.isInfoShow ? 'alarm_on' : 'alarm_off' }}</mat-icon>
                    </button>
                </div>
                <div class="col-lg-12" style="text-align: left;">
                    <button matTooltip="حذف {{cat.title}}" matTooltipPosition="before" mat-button
                        (click)="removeCat(cat.id)" color="warn">
                        حذف
                    </button>
                    <button matTooltip="ویرایش {{cat.title}}" matTooltipPosition="before" mat-button
                        (click)="onEdit(cat.id)" color="primary">
                        ویرایش
                    </button>
                    <button matTooltip="خروجی اکسل از نتیجه {{ pageTitle }} {{cat.title}}" matTooltipPosition="before"
                        mat-icon-button (click)="getExcelFile(cat.id)" color="primary">
                        دانلود
                    </button>
                </div>
            </div>
        </mat-card>
    </div>

    <div class="col-lg-12 margin-top-10" *ngIf="canShowMoreButton()">
        <button mat-flat-button style="width: 100%;" [disabled]="isLoading" (click)="nextPage()">نمایش بیشتر</button>
    </div>
</div>