<span class="fa sk-spinner sk-spinner-pulse spinner" *ngIf="isLoading"></span>
<div class="row animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>فهرست {{ pageTitles }}</h5>
                <div class="ibox-tools">
                    <a (click)="refreshDataSource()" matTooltip="بارگذاری مجدد">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <div *ngIf="!haveAnyData() && !isLoading">
                    <P>موردی یافت نشد</P>
                </div>


                <div class="form-group">
                    <label>انتخاب {{ pageTitle }}</label>
                    <ng-select [clearable]="true" name="category" [(ngModel)]="selectedCatId"
                        (change)="onCategorySelectChange()">
                        <ng-option *ngFor="let u of Categories" [value]="u.id">{{u.title}}</ng-option>
                    </ng-select>
                </div>

                <ng-container *ngIf="TYPE == 1">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>انتخاب پایه</label>
                                <ng-select [clearable]="true" name="grade" [(ngModel)]="selectedGradeId"
                                    (change)="refreshDataSource(); selectedClassId = null;">
                                    <ng-option *ngFor="let u of grades" [value]="u.id">{{u.name}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>انتخاب کلاس</label>
                                <ng-select [clearable]="true" name="class" [(ngModel)]="selectedClassId"
                                    (change)="refreshDataSource();" [disabled]="!selectedGradeId">
                                    <ng-option *ngFor="let u of getClassByGrade()" [value]="u.id">{{u.name}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <div>
                    <div dir="rtl">

                        <button class="btn btn-primary font-11" type="button"
                            [routerLink]="['/dashboard/'+ pageUrl +'/edit/0']"
                            matTooltip="افزودن {{ pageTitle }} جدید"><i class="fa fa-plus"></i>&nbsp;افزودن
                            {{ pageTitle }}</button>

                        <button class="btn btn-danger font-11 mg-r" type="button"
                            matTooltip="حذف {{ pageTitles }} انتخاب شده" [disabled]="selection.selected.length < 1"
                            [swal]="deleteSwal"><i class="fa fa-trash"></i>&nbsp;حذف {{ pageTitles }}</button>

                        <swal #deleteSwal [confirmButtonText]="'بله'" [cancelButtonText]="'خیر'"
                            title="آیا اطمینان دارید؟" text="حذف کردن این موارد قابل بازگشت نمی باشد" type="question"
                            [showCancelButton]="true" [focusCancel]="true" (confirm)="deleteSelected()">
                        </swal>
                        <input type="text" [(ngModel)]="txtSearch" id="text1" (keyup)="applyFilter($event.target.value)"
                            placeholder="جستجو" class="form-control">
                    </div>
                    <br>
                    <div class="mat-elevation-z8">
                        <div class="example-loading-shade" *ngIf="isLoadingResults">
                            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                        </div>
                        <table style="width: 800px;" mat-table [dataSource]="dataSource" matSort>

                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox [disabled]="!haveAnyData() || getRowCanSelected() == 0"
                                        matTooltipPosition="before"
                                        matTooltip=" تعداد {{ selection.selected.length }} مورد انتخاب شده است"
                                        (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox [disabled]="row.haveChildren" matTooltipPosition="before"
                                        matTooltip="{{ row.haveChildren ? 'این دسته بندی دارای زیر مجموعه است، نمیتوان آن را حذف کرد' : 'انتخاب برای حذف' }}"
                                        (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ردیف </th>
                                <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
                            </ng-container>

                            <ng-container matColumnDef="title">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> نام </th>
                                <td mat-cell *matCellDef="let row"> {{row.title}} </td>
                            </ng-container>

                            <ng-container matColumnDef="parentTitle">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> نام ریشه </th>
                                <td mat-cell *matCellDef="let row"> {{row.parentTitle}} </td>
                            </ng-container>

                            <ng-container *ngIf="TYPE == 1" matColumnDef="grade">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> پایه / کلاس </th>
                                <td mat-cell *matCellDef="let row"> {{ row.gradeString + ' / ' + row.classString }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="pin">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                                <td mat-cell *matCellDef="let row">

                                    <button mat-icon-button (click)="togglePin(row.id)" matTooltip="برگزیده کردن">
                                        <mat-icon>{{ row.isPined ? 'bookmark' : 'bookmark_border' }}</mat-icon>
                                    </button>

                                    <button mat-icon-button matTooltip="فعال" (click)="changeCheckableProperty(row.id, 'isActive',
                                        !row.isActive)">
                                        <mat-icon>{{ row.isActive ? 'visibility' : 'visibility_off' }}</mat-icon>
                                    </button>

                                    <button mat-icon-button matTooltip="دارای اطلاع رسانی است؟" (click)="changeCheckableProperty(row.id, 'haveInfo',
                                        !row.haveInfo)">
                                        <mat-icon>{{ row.haveInfo ? 'help' : 'help_outline' }}</mat-icon>
                                    </button>

                                    <button mat-icon-button matTooltip="زمان اطلاع رسانی فرارسیده است؟"
                                        *ngIf="row.haveInfo" (click)="changeCheckableProperty(row.id, 'isInfoShow',
                                        !row.isInfoShow)">
                                        <mat-icon>{{ row.isInfoShow ? 'alarm_on' : 'alarm_off' }}</mat-icon>
                                    </button>

                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> عملیات </th>
                                <td mat-cell *matCellDef="let row">
                                    <button matTooltip="ویرایش {{row.title}}" matTooltipPosition="before"
                                        mat-icon-button (click)="onEdit(row.id)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button matTooltip="خروجی اکسل از نتیجه {{ pageTitle }} {{row.title}}"
                                        matTooltipPosition="before" mat-icon-button (click)="getExcelFile(row.id)">
                                        <mat-icon>get_app</mat-icon>
                                    </button>
                                </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                        </table>

                        <div dir="ltr">
                            <mat-paginator [length]="itemLength" [pageSizeOptions]="[5, 10, 15, 20, 25]"
                                (page)="resetSelection($event)" showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>