<main>
    <div class="container text-center">
        <div class="row margin-top-10">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <img *ngIf="cat.headerPicUrl"
                    style="width: 100%; border-radius: 10px;box-shadow: 2px 3px 12px black; margin-bottom: 15px;"
                    [src]="auth.getFileUrl(cat.headerPicUrl)">

                <div style="margin-top: 10px; text-align: right;" [innerHTML]="catDesc"></div>

                <div style="text-align: left;" *ngIf="!isPreview">
                    <small style="font-size: 13px;">
                        مهلت {{ getRegisterBtnTitle() }} تا {{ cat.dateExpireString }}
                    </small>
                    <br>
                    <countdown style="font-size: 20px; color: red;"
                        [config]="{leftTime: cat.formatedDateEnd, formatDate: formatDate}"
                        (event)="countDown$.next($event.action)">
                    </countdown>
                </div>

                <div style="text-align: center;" [innerHTML]="getActiveStepNavigationTitle()"></div>

                <p style="color: darkred" *ngIf="isPreview"><b>شما در حال مشاهده پیش نمایش هستید</b></p>
            </div>
            <div class="col-lg-2"></div>
        </div>

        <div class="row margin-top-10">

            <div class="col-md-2"></div>
            <div class="col-md-8" style="margin-top: 10px;">
                <ng-container *ngIf="isLoading">
                    <div style="margin-top: 20px;">
                        <mat-progress-bar mode="buffer"></mat-progress-bar>
                    </div>
                </ng-container>

                <ng-container *ngIf="!isLoading && isAttrSetted">
                    <form [formGroup]="group" style="text-align: right;">

                        <ng-container *ngIf="cat.registerItemStepType == 0">
                            <ng-container *ngFor="let unit of getUnitsThatHaveAttrs()">

                                <div class="margin-top-10" style="margin-top: 45px; margin-bottom: 5px;">
                                    <b style="font-size: 16px; color: #de7100;">{{ unit.title }}</b>
                                    <!-- <mat-divider></mat-divider> -->
                                </div>

                                <div class="bordered">

                                    <div class="form-group" *ngFor="let i of getAttrsForUnit(unit.id); index as index"
                                        [style.margin-top.px]="index == 0 ? 0 : 35">

                                        <app-attribute-input #attrInput [(Attribute)]="i" [Category]="cat"
                                            [formControlName]="'p' + getIndexForAttr(i.id)"
                                            (clearItemAttribute)="clearItemAttr($event)"
                                            (saveItemAttributes)="saveItemAttrs()"
                                            (setItemAttribute)="setAnyItemAttribute($event)">
                                        </app-attribute-input>

                                    </div>
                                </div>

                            </ng-container>


                            <div class="col-md-12 margin-top-10">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <app-register-item-loading-progress *ngIf="isUploading"
                                            [uploaded_MB]="uploaded_MB" [uploaded_PS]="uploaded_PS"
                                            [fileSize_MB]="fileSize_MB"></app-register-item-loading-progress>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <button type="button" routerLink="/" [disabled]="isUploading"
                                            class="btn btn-block btn-outline-danger">انصراف</button>
                                    </div>
                                    <div class="col-lg-9">
                                        <button type="button" class="btn btn-block btn-outline-success"
                                            [disabled]="group.invalid || !isAllUniqAttrsValid() || isUploading"
                                            (click)="sts()">{{ getRegisterBtnTitle() }}</button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="cat.registerItemStepType == 1">
                            <div [registerSteps]="activeStep" #steps="registerSteps">

                                <ng-container *ngFor="let i of attrs; index as index">
                                    <div [step]="getIndexForAttr(i.id)"
                                        [style.display]="getIndexForAttr(i.id) == activeStep ? 'block' : 'none'"
                                        [style.pointer-events]="isUploading ? 'none' : ''">

                                        <app-attribute-input #attrInput [(Attribute)]="i" [Category]="cat"
                                            [formControlName]="'p' + getIndexForAttr(i.id)"
                                            (clearItemAttribute)="clearItemAttr($event)"
                                            (saveItemAttributes)="saveItemAttrs()"
                                            (setItemAttribute)="setAnyItemAttribute($event)">
                                        </app-attribute-input>

                                    </div>
                                </ng-container>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <app-register-item-loading-progress *ngIf="isUploading"
                                            [uploaded_MB]="uploaded_MB" [uploaded_PS]="uploaded_PS"
                                            [fileSize_MB]="fileSize_MB"></app-register-item-loading-progress>
                                    </div>
                                </div>


                                <div class="row" style="flex-flow: row;">
                                    <div class="col-lg-6" *ngIf="activeStep != attrs.length -1">
                                        <div class="row">
                                            <div
                                                [ngClass]="(isPrevStepAllowed && cat.randomAttribute) ? 'col-lg-9' : 'col-lg-12'">
                                                <button class="btn btn-outline-success" style="width: 100%;"
                                                    [disabled]="!steps.isActiveStepValid() || isUploading"
                                                    (click)="nextStep()">
                                                    <span class="fa fa-arrow-right"
                                                        style="vertical-align: middle;"></span>
                                                    &nbsp; &nbsp;
                                                    ثبت و بعدی
                                                </button>
                                            </div>
                                            <div class="col-lg-3" *ngIf="isPrevStepAllowed && cat.randomAttribute">
                                                <button class="btn btn-outline-info" style="width: 100%;"
                                                    [disabled]="activeStep == 0 || !isPrevStepAllowed || !steps.isActiveStepValid() || !isAllUniqAttrsValid() || isUploading"
                                                    (click)="lastStep()" [tooltip]="'رفتن به سوال آخر'">
                                                    <span class="fa fa-long-arrow-right"
                                                        style="vertical-align: middle;"></span>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                    <div [class.col-lg-6]="activeStep != attrs.length -1"
                                        [class.col-lg-12]="activeStep == attrs.length -1">
                                        <button class="btn btn-outline-warning" style="width: 100%;"
                                            [disabled]="activeStep == 0 || !steps.isActiveStepValid() || isUploading || !isPrevStepAllowed"
                                            (click)="prevStep()">
                                            <span class="fa fa-arrow-left" style="vertical-align: middle;"></span>
                                            &nbsp; &nbsp;
                                            قبلی
                                        </button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="button" routerLink="/" [disabled]="isUploading"
                                            class="btn btn-block btn-outline-danger">خروج</button>
                                    </div>
                                </div>

                                <div class="row" *ngIf="activeStep == attrs.length -1">
                                    <div class="col-lg-12">
                                        <button class="btn btn-outline-success" style="width: 100%;" *ngIf="!isPreview"
                                            [disabled]="!steps.isActiveStepValid() || !isAllUniqAttrsValid() || isUploading || group.invalid"
                                            (click)="!isUploading && !isPreview ? sts() : null">
                                            <span class="fa fa-check" style="vertical-align: middle;"></span>
                                            &nbsp; &nbsp;
                                            {{ getRegisterBtnTitle() }}
                                        </button>
                                    </div>
                                </div>

                                <div style="text-align: center; margin-top: 50px; margin-bottom: 30px; direction: ltr;">
                                    <ng-container *ngFor="let unit of getUnitsThatHaveAttrs()">
                                        <fieldset>
                                            <legend>{{ unit.title }}</legend>
                                            <ng-container
                                                *ngFor="let i of getAttrsForUnit(unit.id); let attrIndex = index;">
                                                <span class="step-dot"
                                                    [style.cursor]="isPrevStepAllowed ? 'pointer' : ''"
                                                    [tooltip]="getStepTooltip(getIndexForAttr(i.id))"
                                                    [class.finished]="isStepFinished(i.id)"
                                                    [class.active]="activeStep == getIndexForAttr(i.id)"
                                                    [class.error]="isStepHasError(i.id)"
                                                    (click)="goToStep(i.id)"></span>
                                            </ng-container>
                                        </fieldset>
                                    </ng-container>
                                </div>


                            </div>
                        </ng-container>

                        <ng-container *ngIf="cat.registerItemStepType == 2">
                            <div [registerSteps]="activeStep" #steps="registerSteps">

                                <ng-container *ngFor="let unit of getUnitsThatHaveAttrs()">
                                    <div [step]="getIndexForUnit(unit.id)"
                                        [style.display]="getIndexForUnit(unit.id) == activeStep ? 'block' : 'none'"
                                        [style.pointer-events]="isUploading ? 'none' : ''">


                                        <div class="margin-top-10" style="margin-top: 45px; margin-bottom: 5px;">
                                            <b style="font-size: 16px; color: #de7100;">{{ unit.title }}</b>
                                            <!-- <mat-divider></mat-divider> -->
                                        </div>

                                        <div class="bordered">

                                            <div class="form-group"
                                                *ngFor="let i of getAttrsForUnit(unit.id); index as index"
                                                [style.margin-top.px]="index == 0 ? 0 : 35">

                                                <app-attribute-input #attrInput [(Attribute)]="i" [Category]="cat"
                                                    [formControlName]="'p' + getIndexForAttr(i.id)"
                                                    (clearItemAttribute)="clearItemAttr($event)"
                                                    (saveItemAttributes)="saveItemAttrs()"
                                                    (setItemAttribute)="setAnyItemAttribute($event)">
                                                </app-attribute-input>

                                            </div>

                                        </div>

                                    </div>
                                </ng-container>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <app-register-item-loading-progress *ngIf="isUploading"
                                            [uploaded_MB]="uploaded_MB" [uploaded_PS]="uploaded_PS"
                                            [fileSize_MB]="fileSize_MB"></app-register-item-loading-progress>
                                    </div>
                                </div>


                                <div class="row" style="flex-flow: row; margin-top: 10px;">
                                    <div class="col-lg-6" *ngIf="activeStep != getMaxStepNumber() - 1">
                                        <button class="btn btn-outline-success" style="width: 100%;"
                                            [disabled]="!steps.isActiveStepValid() || isUploading" (click)="nextStep()">
                                            <span class="fa fa-arrow-right" style="vertical-align: middle;"></span>
                                            &nbsp; &nbsp;
                                            مرحله بعد
                                        </button>
                                    </div>
                                    <div [class.col-lg-6]="activeStep != getMaxStepNumber() -1"
                                        [class.col-lg-12]="activeStep == getMaxStepNumber() -1">
                                        <button class="btn btn-outline-warning" style="width: 100%;"
                                            [disabled]="activeStep == 0 || !steps.isActiveStepValid() || isUploading || !isPrevStepAllowed"
                                            (click)="prevStep()">
                                            <span class="fa fa-arrow-left" style="vertical-align: middle;"></span>
                                            &nbsp; &nbsp;
                                            قبلی
                                        </button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="button" routerLink="/" [disabled]="isUploading"
                                            class="btn btn-block btn-outline-danger">خروج</button>
                                    </div>
                                </div>

                                <div class="row" *ngIf="activeStep == getMaxStepNumber() -1">
                                    <div class="col-lg-12">
                                        <button class="btn btn-outline-success" style="width: 100%;" *ngIf="!isPreview"
                                            [disabled]="!steps.isActiveStepValid() || group.invalid || !isAllUniqAttrsValid() || isUploading"
                                            (click)="!isUploading && !isPreview ? sts() : null">
                                            <span class="fa fa-check" style="vertical-align: middle;"></span>
                                            &nbsp; &nbsp;
                                            {{ getRegisterBtnTitle() }}
                                        </button>
                                    </div>
                                </div>

                                <div style="text-align: center; margin-top: 50px; margin-bottom: 30px; direction: ltr;">
                                    <ng-container>
                                        <span class="step-dot"
                                            *ngFor="let unit of getUnitsThatHaveAttrs(); index as index"
                                            [style.cursor]="isPrevStepAllowed ? 'pointer' : ''"
                                            [tooltip]="getStepTooltip(index)" [class.finished]="isStepFinished(unit.id)"
                                            [class.active]="activeStep == index" [class.error]="isStepHasError(unit.id)"
                                            (click)="goToStep(unit.id)"></span>
                                    </ng-container>
                                </div>


                            </div>
                        </ng-container>

                    </form>

                </ng-container>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</main>