<!-- <div class="notifications animated fadeInRight">
	<div *ngFor="let cusm of customMessages" (click)="hide(cusm)" class="{{ cusm.type }}">
		<span>
			{{ cusm.message }}
			<p *ngIf="cusm.count != 0" style="display: inline;">
				({{ cusm.count }})
			</p>
		</span>
	</div>
</div> -->

<div aria-live="polite" aria-atomic="true">
	<!-- Position it -->
	<div style="position: fixed; bottom: 0; left: 0; min-width: 350px; z-index: 99999999999;">

		<!-- Then put toasts within -->
		<div class="toast show {{cusm.type}}" [@enterAnim] role="alert" *ngFor="let cusm of customMessages" aria-live="assertive" aria-atomic="true">
			<div class="toast-header">
				<!-- <span style="margin-left: auto"> {{ cusm.title }} </span> -->
				<button (click)="hide(cusm)" type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="toast-body" style="white-space: pre-line;">
				{{ cusm.message }}
				<p *ngIf="cusm.count != 0" style="display: inline;">
					({{ cusm.count }})
				</p>
			</div>
		</div>

	</div>
</div>

<!-- 
<ul>
	<li class="notifier__container-list" *ngFor="let cusm of customMessages">
		<p class="notifier__notification-message">{{ cusm.message }} ({{ cusm.count != 0 ? cusm.count : '' }})</p>
		<button class="notifier__notification-button" type="button" title="dismiss" (click)="hide(cusm)">
			<svg class="notifier__notification-button-icon" viewBox="0 0 24 24" width="20" height="20">
				<path
					d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
			</svg>
		</button>
	</li>
</ul> -->